@font-face { font-family: 'Conv_Bebas_Neue_Cyrillic'; src: url("../fonts/Bebas_Neue_Cyrillic.eot"); src: local("☺"), url("../fonts/Bebas_Neue_Cyrillic.woff") format("woff"), url("../fonts/Bebas_Neue_Cyrillic.ttf") format("truetype"), url("../fonts/Bebas_Neue_Cyrillic.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_Roboto-Black'; src: url("../fonts/Roboto-Black.eot"); src: local("☺"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg") format("svg"); font-weight: normal; font-style: normal; }

.single-post { padding: 45px 0 50px; }
.single-post p { margin-bottom: 33px; font: 300 17px 'Roboto Slab', serif; color: #51535e; }
.single-post b { font-weight: bold; font-style: italic; }

.single-post__img { float: left; margin: 0 55px 25px 0; }

p.single-post__topper { font: 18px 'Roboto Slab', serif; color: #5a5c64; line-height: 1.5; }
p.single-post__topper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.single-post__button { margin-bottom: 70px; text-align: center; }
.single-post__button a { display: inline-block; height: 50px; line-height: 50px; text-align: center; text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5); }
