@import "base";
.reserve{
	font: 17px 'Roboto Slab', serif;
	.room__info{
		@include clr;
	}
	.room__title{
		margin-bottom: 22px;
		clear: both;
	}
	input[type="text"]{
		@include b(border-box);
		height: 29px;
		padding: 0 8px;
		border: 1px solid #737373;
		border-radius: 5px;
		background: #f5f6f7;
		@include box-shadow(inset 0 2px 5px rgba(0,0,0,.19));
		@include background-image(linear-gradient(top, #c9cbcc 0%, #f4f4f5 70%, #f4f4f5 100%));
		font: 17px 'Roboto', sans-serif;
		color: #2c2b2e;
	}
}
.room__img{
	float: left;
	width: 32%;
	height: 215px;
	margin: 0 0 0 1%;
	border: 8px solid #fafaff;
	@include b(border-box);
	background-color: #90a2ab;
	@include box-shadow(0 1px 7px rgba(0,0,0,.33), inset 0 0 0 1px #51535d);
	img{
		width: 100%;
		height: 100%;
		@include b(border-box);
		border: 1px solid #52545f;
	}
}
.room__preview{
	float: right;
	width: 64%;
	margin-left: 3%;
	.room__id{
		margin-bottom: 20px;
	}
}
.reserve__info{
	li{
		@include clr;
		margin-bottom: 5px;
		color: #51535e;
	}
}
.reserve__left{
	width: 30%;
	float: left;
	font-weight: bold;
}
.reserve__right{
	float: right;
	width: 70%;
	span{
		font-weight: 300;
	}
}
.reserve__col{
	float: left;
	width: 50%;
	@include b(border-box);
	padding-left: 30px;
}
.reserve__col_right{
	padding: 0 30px 0 0;
}
.reserve__contacts{
	font-size: 0;
	padding: 0 30px;
	margin: 0 0 0px -55px;
	@include b(border-box);
}
.reserve__contacts-item{
	display: inline-block;
	margin: 0 0 22px 55px;
	span{
		display: inline-block;
		margin-right: 12px;
		font-size: 17px;
		font-weight: bold;
		@include respond-to(1680){
			min-width: 53px;
		}
	}
	input.long{
		width: 273px;
	}
}
.reserve__contacts-alert{
	padding: 0 30px;
	font: italic bold 17px 'Roboto', sans-serif;
}
.payment{
	position: relative;
	padding: 0 20px;
}
.payment__text{
	padding: 0 20px;
	margin-bottom: 10px;
}
.payment__content{
	padding: 0 0 0 20px;
	ul{
		@include clr;
		li{
			display: inline-block;
		}
	}
}
.payanyway{
	padding-left: 5px;
	img{
		position: relative;
		top: 11px;
	}
}
.payment__col{
	@include clr;
	width: 350px;
}
.payment__col.last{
	width: 432px;
}
.payment__col.e-systems-last{
	@include respond-to(1680){
		width: 524px;
	}
}
.payment__col.terminals-last{
	@include respond-to(1680){
		width: 640px;
	}
}
.payment__col.b-systems-last{
	@include respond-to(1680){
		display: block;
		width: 446px;
		margin-bottom: 22px;
	}
}
.radio_last{
	float: right;
}
.radio{
	position: relative;
	input{
		@include opacity(0);
	}
	span{
		position: relative;
		top: -2px;
		padding-left: 13px;
		font: bold 17px 'Roboto Slab', serif;
		color: #5a5c65;
		&:before{
			content: "";
			position: absolute;
			top: 2px;
			left: -17px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			@include b(border-box);
			border: 1px solid #0294a2;
			background: #35d9f1;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.42));
			@include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
		}
	}
	input:checked + span{
		color: #000;
		&:before{
			content: "";
			border: 1px solid #000;
			background: #35d9f1;
			@include box-shadow(inset 0 0 0 rgba(255,255,255,.68));
			@include background-image(linear-gradient(bottom, #ffe901 -24.5%, #c4b403 124.5%));
		}
		&:after{
			content:"";
			position: absolute;
			top: 9px;
			left: -10px;
			width: 6px;
			height: 6px;
			background: #000;
			border-radius: 50%;
		}
	}
}
.payment__divide{
	height: 1px;
	margin: 0 20px 20px 0;
	background: #d8d9d9;
}
.bank-details{
	span{
		font-weight: bold;
		@include respond-to(1680){
			margin-right: 10px;
			display: inline-block;
			min-width: 184px;
		}
	}
}
.bank-details__index{
	display: inline-block;
	margin: 0 43px 22px 0;
	input{
		width: 93px;
	}
}
.bank-details__adress{
	display: inline-block;
	margin-bottom: 22px;
	input{
		width: 612px;
	}
}
.bank-details__region{
	display: inline-block;
	margin: 0 74px 22px 0;
	input{
		width: 228px;
	}
}
.bank-details__name{
	display: inline-block;
	margin-bottom: 22px;
	input{
		width: 142px;
	}
}
.payment__guaranty{
	position: absolute;
	bottom: 228px;
	right: 20px;
}
.payment__submit{
	padding: 50px 0 55px;
	text-align: center;
	button{
		font-size: 24px;
	}
}
.payment__checkbox{
	position: relative;
	display: block;
	margin-bottom: 32px;
	text-transform: uppercase;
	font: 300 16px 'Roboto Slab', serif;
	label{
		cursor: pointer;
	}
	input{
		@include opacity(0);
	}
	i{
		position: absolute;
		top: 0px;
		left: 33%;
		width: 18px;
		height: 18px;
		border: 1px solid #0294a2;
		@include border-radius(5px);
		background: #35d9f1;
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,.42));
		@include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
		cursor: pointer;
		@include respond-to(1680){
			left: 31%;
		}
		@include respond-to(1400){
			left: 28%;
		}
		@include respond-to(1280){
			left: 27%;
		}
	}
	input:checked + i{
		&:before{
			content: "";
			position: absolute;
			top: 3px;
			left: 2px;
			@include s($icons, ok-small);
		}
	}
	span{
		padding-left: 15px;
	}
	a{
		font-weight: bold;
		color: #51535e;
		text-decoration: underline;
	}
}
.payment__error{
	margin: 13px 0 -20px;
	color: #ff0000;
	font: 500 18px 'Roboto', sans-serif;
	text-transform: none;
}

// note
.l-note{
	position: relative;
	max-width: 1186px;
	@include b(border-box);
	padding: 13px 13px 9px;
	margin: 30px 0 20px;
	@include border-radius(11px);
	@include box-shadow(0 0 7px 1px #838383, 1px 1px 1px 4px #101417);
	background: url(../img/note.png);
}
.clip{
	position: absolute;
	top: -20px;
	left: 50%;
	width: 244px;
	height: 98px;
	margin-left: -122px;
	background: url(../img/clip.png) 0 0 no-repeat;
	z-index: 4;
}
.note__page1{
	position: absolute;
	top: 13px;
	right: 9px;
	bottom: 13px;
	left: 9px;
	@include b(border-box);
	border: 1px solid #bfc3ce;
	background-color: #fff;
	@include box-shadow(inset 0 0 4px rgba(0,0,0,.25));
	z-index: 1;
}
.note__page2{
	position: absolute;
	top: 11px;
	right: 11px;
	bottom: 11px;
	left: 11px;
	@include b(border-box);
	border: 1px solid #bfc3ce;
	background: #fff;
	@include box-shadow(inset 0 0 4px rgba(0,0,0,.25));
	z-index: 2;
}
.note{
	position: relative;
	top: -4px;
	left: 0px;
	@include b(border-box);
	padding: 8% 2% 2%;
	border: 1px solid #bfc3ce;
	background: #fff;
	@include box-shadow(inset 0 0 4px rgba(0,0,0,.25));
	z-index: 3;
}
.note__date{
	position: absolute;
	top: -6px;
	left: -7px;
	width: 144px;
	height: 145px;
	background: url(../img/note-date.png) 0 0 no-repeat;
	p{
		position: absolute;
		top: 95px;
		left: -7px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font: 500 15px 'Roboto', sans-serif;
		color: #000;
		@include rotate(-45);
		-webkit-transform-origin: 0 0;
    	-moz-transform-origin: 0 0;
    	-ms-transform-origin: 0 0;
    	-o-transform-origin: 0 0;
    	transform-origin: 0 0;
	}
}
.note__topper{
	text-align: center;
}
.note__title{
	text-transform: uppercase;
	font: bold 30px 'Roboto', sans-serif;
	color: #5a5c65;
}
.note__order-number, .thanks{
	margin: 15px 0 20px;
	text-align: center;
	font: normal 25px 'Roboto', sans-serif;
	color: #068bb6;
}
.room__route{
	padding: 0 2%;
	text-align: justify;
	p{
		margin-top: 40px;
		span{
			display: inline-block;
			margin-right: 4%;
			font-weight: bold;
		}
		&:first-child{
			margin-top: 0;
		}
	}
}
.room__info-dates{
	@include clr;
	padding: 0 2%;
}
.column{
	float: left;
	width: 50%;

}
.sub-column{
	float: left;
	width: 67%;
	span{
		font-weight: 300;
	}
}
.sub-column.left{
	width: 33%;
	font-weight: bold;
}
.thanks{
	margin: 40px 0 30px;
}
.note__submit{
	text-align: center;
	button{
		height: 40px;
		margin: 0 15px;
	}
}