@import "base";

// css styles for contacts
.contacts{
	padding-top: 95px;
}
.contacts__topper{
	@include clr;
	margin-bottom: 54px;
	font: 19px 'Roboto Slab', serif;
	color: #51535e;
}
.contacts__left{
	float: left;
}
.contacts__right{
	float: right;
	text-align: right;
}
.contacts__main{
	max-width: 850px;
	margin: 0 auto;
	padding-top: 67px;
	text-align: center;
	border-top: 1px solid #d0d0d0;
	li{
		margin-bottom: 25px;
		font: 19px 'Roboto Slab', serif;
		color: #51535e;
		a{
			font: bold 19px 'Roboto Slab', serif;
			color: #51535e;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.contacts-map{
	height: 700px;
	@include respond-to(1400){
        height: 600px;
    }
    @include respond-to(1000){
        height: 500px;
    }
}