@import "base";

// css styles for faq

.faq{
	.search{
		margin: 74px 0;
		.search__input{
			left: 0;
		}
	}
}
.faq__title{
	margin: 24px 0 14px;
	padding-left: 10px;
	font: bold 28px 'Roboto', sans-serif;
	color: #51535e;
}
.l-faq{
	position: relative;
	@include clr;
	margin: 35px 0;
}
.faq__content{
	padding-left: 336px;
}
.faq-answer__title, .rules__title{
	padding: 7px 20px;
	margin-bottom: 15px;
	border: 1px solid #0294a2;
	background: #59d3ff;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.42));
	@include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #404148;
}
.faq-answer__text{
	padding: 0 10px;
	text-align: justify;
	font: 17px 'Roboto Slab', serif;
	color: #51535e;
	p{
		margin-bottom: 40px;
	}
}
.faq-nav{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 312px;
	li{
		margin-bottom: 1px;
		border: 1px solid #ccc;
		@include border-radius(3px);
		background: #e3e3e4;
		@include box-shadow(inset 0 1px 0 #fff);
		@include background-image(linear-gradient(bottom, #dfe1e1 0%, #e5e6e6 100%));
		cursor: pointer;
		a{
			display: block;
			padding: 13px 18px;
			font: 15px 'Roboto Slab', serif;
			color: #51535e;
		}
		&:hover{
			border: 1px solid #c6b500;
			background-color: #ffe901;
			@include background-image(linear-gradient(bottom, #ffed02 0%, #ffe501 100%));
		}
	}
	li.current{
		border: 1px solid #c6b500;
		background-color: #ffe901;
		@include background-image(linear-gradient(bottom, #ffed02 0%, #ffe501 100%));
	}
}
.js-faq-nav{
	position: fixed;
	top: 20px;
	left: 18.5%;
}
