@import "base";
// ie6-8
.lteie8 {
    .wrapper-filter {
        background: rgb(81, 83, 94);
    }
	.map__button {
		-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061515884555943e-16, M12=1, M21=-1, M22=3.061515884555943e-16, SizingMethod='auto expand')";
	}
    .flats__card {
        .flat__title {
            background: #000;
        }
    }
    .filter-from,
    .filter-to,
    .filter-guests {
        input {
            line-height: 45px;
        }
    }
}
// ie7

*+ html {

}

// ie6
* html {

}