@import "base";

// landing-top

.l-landing-top{
	position: relative;
	height: 831px;
	padding-top: 272px;
	background: url(../img/Landing_page.jpg) 0 0 no-repeat;
	@include background-size;
	@include b(border-box);
	.btn_yellow{
		position: absolute;
		top: -22px;
		left: 50%;
		margin-left: -94px;
		z-index: 99;
		@include respond-to(1400){
			top: 0px;
		}
	}
}
.l-landing-filter{
	position: relative;
	height: 267px;
	padding: 45px 0;
	@include b(border-box);
	border: 1px solid rgba(255,255,255,.61);
	background: url(../img/blur.png) 0 0 no-repeat;
	@include background-size;
}
.blur{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.h1_landing{
	position: absolute;
	left: 0;
	right: 0;
	font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 28px;
    height: 54px;
    line-height: 54px;
    color: #fff;
    text-align: center;
    @include text-shadow(0 1px 2px rgba(0,0,0,.63));
    z-index: 2;
}
.l-landing-filter_kind{
	position: relative;
	float: left;
	.landing-filter__popup{
		height: 317px;
		overflow: auto;
	}
} 
.landing-filter__popup, .landing-filter-guests__popup{
    position: absolute;
    top: 60px;
    right: 10px;
    width: 308px;
    overflow: hidden;
    @include box-sizing(border-box);
    @include border-radius(6px);
    border: 1px solid #969696;
    background: #ebebf1;
    @include respond-to(1280){
        width: 334px;
    }
    li{
        height: 45px;
        padding: 0 10px;
        font: 20px/45px 'Roboto Slab', sans-serif;
		color: #5a5c64;
		cursor: pointer;
		strong{
			color: #37393f;
		}
        &:hover{
            background: darken(#e3e4ec, 10%);
            color: darken(#5a5c64, 10%);
        }
        &:first-child{
            @include border-radius(6px 6px 0 0);
        }
        &:last-child{
            @include border-radius(0 0 6px 6px);
        }
    }
}
.l-landing-filter_guests{
	position: relative;
	float: left;
	width: 200px;
	@include respond-to(1280){
		width: auto;
	}
	li{
		text-align: center;
	}
}
.landing-filter-guests__popup{
	width: 191px;
	@include respond-to(1280){
        width: 141px;
    }
}
// landing-adv
.landing-adv{
	max-width: 1200px;
	margin: 0 auto;
	@include clr;
	padding: 122px 0 81px;
	@include b(border-box);
}
.landing-adv__col{
	position: relative;
	width: 30%;
	margin-left: 5%;
	padding-top: 94px;
	@include b(border-box);
	float: left;
	text-align: center;
	&:before{
		content: "";
		position: absolute;
		top: 55px;
		left: -108px;
		@include s($icons, arrow-right-l);
	}
	&:first-child{
		margin-left: 0;
		&:before{
			content: "";
			background: none;
		}
	}
	p{
		padding: 0 10px;
		font-family: "Roboto Slab", serif;
		font-weight: 300;
		font-size: 18px;
		color: #5a5b64;
	}
}
.loop-icon{
	position: absolute;
	top: 39px;
	left: 50%;
	margin-left: -28px;
	@include s($icons, loop);
}
.money-icon{
	position: absolute;
	top: 39px;
	left: 50%;
	margin-left: -28px;
	@include s($icons, money);
}
.house-icon{
	position: absolute;
	top: 39px;
	left: 50%;
	margin-left: -28px;
	@include s($icons, house);
}
.landing-adv__title{
	margin: 87px 0 20px;
	text-align: center;
	font-size: 25px;
	color: #545e68;
	text-transform: uppercase;
}

// landing-benefits
.l-landing-benefits{
	background: #e5e9ee;
	padding-bottom: 72px;
}
.landing-benefits{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
	.h2{
		text-align: center;
		margin: 0 0 50px 0;
	}
}
.benefits-list{
	font-size: 0;
}
.benefits{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	@include b(border-box);
	padding: 0 15px;
	text-align: center;
	margin-bottom: 95px;
	p{
		padding: 0 10px;
		font-family: "Roboto Slab", serif;
		font-weight: 300;
		font-size: 18px;
		color: #5a5b64;
	}
}
.benefits__img{
	position: relative;
	width: 109px;
	height: 109px;
	margin: 0 auto 40px;
	@include border-radius(50%);
	background: #ffea01;
	i{
		position: absolute;
		top: 50%;
		left: 50%;
	}
}
.calendar-icon{
	margin: -24px 0 0 -22px;
	@include s($icons, calendar2);
}
.payment-icon{
	margin: -26px 0 0 -20px;
	@include s($icons, payment);
}
.phone-icon{
	margin: -24px 0 0 -18px;
	@include s($icons, phone2);
}
.free-icon{
	margin: -32px 0 0 -32px;
	@include s($icons, free);
}
.benefits__title{
	font-size: 20px;
	color: #545e68;
	width: 54%;
	// height: 63px;
	margin: 0 auto 0px;
}

// landing-benefits
.l-landing-menu{
	position: relative;
	z-index: 2;
	margin: -72px 0 -132px 0;
	@include respond-to(1280){
		padding: 0 20px;
	}
}
.landing-menu{
	max-width: 1200px;
	margin: 0 auto;
}
.city{
	margin-bottom: 19px;
}
.city__img{
	position: relative;
	display: block;
	margin-bottom: 19px;
	img{
		width: 100%;
	}
}
.city__title{
	position: absolute;
	width: 385px;
	height: 65px;
	line-height: 65px;
	padding: 0 10px 0 31px;
	@include b(border-box);
	bottom: 12px;
	left: -12px;
	background: #ffea01;
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	font-size: 25px;
	color: #2c2d33;
}
.city__propose{
	@include clr;
}
a.city__item{
	position: relative;
	float: left;
	width: 49%;
	margin-left: 2%;
	img{
		width: 100%;
	}
	&:first-child{
		margin-left: 0;
	}
	p{
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		height: 64px;
		line-height: 64px;
		@include b(border-box);
		padding: 0 20px;
		margin: 0!important;
		background: rgba(0, 0, 0, 0.5);
		font-size: 22px;
		color: #fff;
	}
}

// landing-directions
.l-landing-directions{
	background: #e5e9ee;
}
.landing-directions{
	max-width: 1200px;
	margin: 0 auto;
	padding: 160px 0 48px;
	text-align: center;
}
.directions-list{
	margin-top: 35px;
}
.direction-item{
	display: inline-block;
	margin: 0 0 45px 50px;
	&:first-child{
		margin-left: 0;
	}
	a{
		position: relative;
		display: block;
		@include b(border-box);
		padding-left: 28px;
		font: 20px 'Roboto Medium', sans-serif;
		color: #545e68;
		text-transform: uppercase;
		&:hover{
			text-decoration: underline;
		}
		&:before{
			content: "";
			position: absolute;
			top: -3px;
			left: 0px;
			@include s($icons, marker);
		}
	}
}
.landing-directions__alert{
	font-style: italic;
	color: #848c94;
}

// landing-news
.l-landing-news{
	@include respond-to(1280){
		padding: 0 20px;
	}
}
.landing-news{
	max-width: 1200px;
	margin: 0 auto;
	padding: 26px 0 65px;
	.h2{
		text-align: center;
	}
}
.landing-news__info{
	.h4{
		text-align: center;
	}
	article{
		margin: 27px 0 57px;
		font-weight: 300;
		line-height: 1.2;
		p{
			margin-bottom: 25px;
		}
	}
}
.l-news{
	margin-top: 45px;
}
.main-news{
	@include clr;
	margin-bottom: 80px;
}
.main-news__img{
	float: left;
	width: 49%;
	img{
		width: 100%;
	}
}
.main-news__text{
	float: right;
	width: 45%;
	padding-top: 20px;
	@include b(border-box);
	p{
		font: 300 18px 'Roboto Slab', serif;
		color: #5a5c64;
		line-height: 1.5;
	}	
}
.main-news__title{
	display: block;
	width: 92%;
	padding-right: 8%;
	margin-bottom: 40px;
	font-size: 25px;
	text-transform: uppercase;
	color: #545e68;
}
.news-list{
	@include clr;
	margin-left: -4%;
}
.news-item{
	float: left;
	width: 21%;
	margin-left: 4%;
	margin-bottom: 60px;
	p{
		font: 300 14px 'Roboto Slab', serif;
	}
}
.news-item__img{
	img{
		width: 100%;
	}
}
.news-item__title{
	display: block;
	margin-bottom: 18px;
	color: #545e68;
	font-size: 14px;
	text-transform: uppercase;
	&:hover{
		text-decoration: underline;
	}
}

// landing filters
.landing-filter-row{
	position: absolute;
	top: 135px;
	left: 50%;
	margin-left: -576px;
	width: 1152px;
	height: 68px;
	border: 1px solid #6a6969;
	@include border-radius(7px);
	background: #fff;
	z-index: 2;
	@include clr;
	@include b(border-box);
	padding: 6px;
	input[type="submit"]{
		height: 53px;
		width: 151px;
		@include border-radius(5px);
		@include respond-to(1280){
    	    width: 131px;
    	}
	}
	@include respond-to(1280){
        width: 1003px;
        margin-left: -502px;
    }
}
.landing-filter{
	position: relative;
	height: 53px;
	float: left;
	margin-right: 10px; 
	@include border-radius(7px);
	background: #ebebf1;
	@include box-shadow(inset 0 2px 3px rgba(0,0,0,.34));
	@include background-image(linear-gradient(bottom, #eeeff3 0%, #dcdde4 100%));
	cursor: pointer;
	.landing-filter_from-datepicker, .landing-filter_to-datepicker{
		width: 104px;
		height: 47px;
		margin-top: 3px;
		background: inherit;
		font: 20px 'Roboto Slab', sans-serif;
		color: #5a5c64;
		@include respond-to(1280){
    	    width: 84px;
    	}
	}
}
.landing-filter_kind{
	width: 374px;
	padding-left: 84px;
	@include b(border-box);
	@include respond-to(1280){
        width: 334px;
    }
}
.landing-filter_from, .landing-filter_to, .landing-filter_guests{
	position: relative;
	width: 191px;
	padding-left: 84px;
	@include b(border-box);
}
.js-landing-filter_from-datepicker, .js-landing-filter_to-datepicker{
	@include opacity(0);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.landing-filter_kind{
	.landing-filter__title:before{
		content:"";
		position: absolute;
		top: 12px;
		left: 20px;
		@include s($icons, city);
	}
}
.landing-filter_from{
	@include respond-to(1280){
        width: 171px;
    }
	.landing-filter__title:before{
		content:"";
		position: absolute;
		top: 10px;
		left: 18px;
		@include s($icons, calendar-from);
	}
}
.landing-filter_to{
	@include respond-to(1280){
        width: 171px;
    }
	.landing-filter__title:before{
		content:"";
		position: absolute;
		top: 10px;
		left: 18px;
		@include s($icons, calendar-to);
	}
}
.landing-filter_guests{
	@include respond-to(1280){
        width: 141px;
    }
	.landing-filter__title:before{
		content:"";
		position: absolute;
		top: 12px;
		left: 18px;
		@include s($icons, guests-blue);
	}
} 
.landing-filter__title{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 69px;
    @include border-radius(7px 0px 0px 7px);
    border: 1px solid #0294a2;
    background: #07c9db;
    @include b(border-box);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.42));
    @include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
}
.landing-filter__value{
	height: 53px;
	font: 20px 'Roboto Slab', sans-serif;
	color: #5a5c64;
	line-height: 53px;
}