.landlords {
	text-align: center;

	&__wrapper {

	}

	&__header {
		background : url(../img/landlords__header-bg.jpg) center no-repeat;
		height: 673px;
		color: white;

		&__block_1 {
			padding-top:120px;
			font-weight: 600;
			font-size: 30px;
		}

		&__block_2 {
			padding-top: 85px;
			font-weight: 400;
			font-size: 20px;
		}

		&__block_3 {
			padding-top: 85px;
			font-size: 24px;			
		}

		&__register_btn {
			a {
				color: #51535e;
				text-shadow: 0 1px 1px white;
			}
			padding-top:20px;
		}
	}

	&__thesis {
		font-size: 28px;
		padding: 70px 0px;
		text-transform: uppercase;
	}

	&__thesis__first {
		padding: 0px;
		font-size: 20px;
		color: #51535e;
		height: 80px;
		line-height: 80px;
	}

	&__thesis--grey {
		background: #e5e9ee;
	}

	&__thesis--dark_grey {
		background: #51535e;
		color: white;
	}

	&__thesis__delimeter {
		margin-top: 15px;

		hr {
			margin: 3px auto;
			border-top: 1px solid #8d949a;
			border-bottom: 1px solid #c6c9cd;
			width: 335px;
		}
	}

	&__thesis__img {
		margin-top: 30px;

		&__interface, &__site_utilites {
			img {
				border: 10px solid #51535e;
			}
		}

		&__shield, &__one_click {
			vertical-align: middle;
			margin-right: 25px;
		}
	}

	&__thesis__sub_thesis {
		width: 600px;
		margin: 0px auto;
		text-align: left;
		padding-left: 125px;

		&__sms {
			background: url(../img/landlords__thesis__sms.png) no-repeat;
			background-position-x: left;
			background-position-y: center;			
			height: 80px;
			line-height: 80px;

		}

		&__agent {
			background: url(../img/landlords__thesis__agent.png) no-repeat;
			background-position-x: left;
			background-position-y: center;			
			margin-top: 140px;
			&__note {
				font-size: 24px;
				text-transform: none;
			}
		}

		&__mobile{
			background: url(../img/landlords__thesis__mobile.png) no-repeat;
			margin-top: 140px;
			height: 105px;

			&__text {
				height: 105px;
				display:table-cell;
				vertical-align: middle;
			}
		}
	}

	&__footer {
		background : url(../img/landlords__header-bg.jpg) center no-repeat;
		height: 673px;
		color: white;

		$item_width: 340px;

		&__items {
			padding: 70px;
			width: $item_width * 3;
			margin: 0px auto;
		}

		&__items__item {
			font-size: 20px;
			padding-top: 90px;
			width: $item_width;
			float:left;
			margin-top: 95px;
		}

		&__free {
			background: url(../img/landlords__free.png) no-repeat;
			background-position-y: top;
			background-position-x: center;
		}
		&__time {
			background: url(../img/landlords__time.png) no-repeat;
			background-position-y: top;
			background-position-x: center;
		}
		&__clean_sheduler {
			background: url(../img/landlords__clean_sheduler.png) no-repeat;
			background-position-y: top;
			background-position-x: center;
		}
		&__united_calendar {
			background: url(../img/landlords__united_calendar.png) no-repeat;
			background-position-y: top;
			background-position-x: center;
		}
		&__support {
			background: url(../img/landlords__support.png) no-repeat;
			background-position-y: top;
			background-position-x: center;
		}
		&__automatization {
			background: url(../img/landlords__automatization.png) no-repeat;
			background-position-y: top;
			background-position-x: center;
		}

		&__register_btn {
			color: #51535e;
			padding-top: 50px;
			clear: both;
		}
	}
}