@import "base";
.results{
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.map{
	position: relative;
	width: 50%;
	float: left;
	@include box-sizing(border-box);
	border: 2px solid rgba(64,63,68,.29);
	border: 2px solid rgba(64,63,68,.29);
	@include box-shadow(1px 0 7px rgba(0,0,0,.17));
	@include transition(400ms ease-in-out);
	z-index: 2;
}
#YMapsID{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.map.is-hidden{
	width: 1%;
}
.map_fixed{
	position: fixed;
	top: 0;
	left: 0;
}
.map_pushed {
	position: absolute;
	top: auto;
	bottom: 0;
}
.map__button{
	position: absolute;
	top: 50%;
	right: -132px;
	overflow: hidden;
	width: 148px;
	height: 35px;
	@include box-sizing(border-box);
	border: 1px solid #8f9495;
	@include border-radius(6px);
	background: #35d9f1;
	@include background-image(linear-gradient(bottom, #44c0fe -10.5%, #63e2fa 110.5%));
    text-transform: uppercase;
    text-align: center;
    font: 500 16px/32px 'Roboto', sans-serif;
    color: #51535e;
	@include box-shadow(inset 0 1px 0 #b4f1fa);
	@include text-shadow(2px 0 0 rgba(255,255,255,.5));
	cursor: pointer;
    @include rotate(-90);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;  
    @include respond-to(1680){
        font-size: 16px*$k_1680;
        line-height: 32px*$k_1680;
        right: -134px*$k_1680;
		width: 148px*$k_1680;
		height: 32px*$k_1680;
    }
    @include respond-to(1400){
        font-size: 16px*$k_1400;
        line-height: 32px*$k_1400;
		right: -134px*$k_1400;
		width: 148px*$k_1400;
		height: 32px*$k_1400;
    }
    @include respond-to(1280){
        font-size: 16px*$k_1280;
        line-height: 32px*$k_1280;
		right: -134px*$k_1280;
		width: 148px*$k_1280;
		height: 32px*$k_1280;
    } 
    @include respond-to(1000){
        font-size: 16px*$k_1000;
        line-height: 32px*$k_1000;
		right: -134px*$k_1000;
		width: 148px*$k_1000;
		height: 32px*$k_1000;
    }
}
.map__search{
	position: absolute;
	top: 22px;
	right: 13px;
	width: 199px;
	height: 32px;
	//overflow: hidden;
	@include border-radius(6px);
	border: 1px solid #6a6a6a;
	background: #2b2d33;
	@include respond-to(1680){
        width: 199px*$k_1680;
		height: 32px*$k_1680;
    }
    @include respond-to(1400){
        width: 199px*$k_1400;
		height: 32px*$k_1400;
    }
    @include respond-to(1280){
        width: 199px*$k_1280;
		height: 32px*$k_1280;
    }
    @include respond-to(1000){
        width: 199px*$k_1000;
		height: 32px*$k_1000;
    }
	label{
		position: relative;
		display: block;
		height: 100%;
		cursor: pointer;
		input{
			opacity: 0;
			width: 35px;
			height: 100%;
		}
		input + span{
			position: absolute;
			top: 0;
			left: 0;
			width: 35px;
			height: 100%;
			background: #35daf2;
			@include background-image(linear-gradient(top, #5fdefb 0%, #49c5fd 100%));
			@include border-radius(5px 0 0 5px);
		}
		input:checked + span{
			position: absolute;
			top: 0;
			left: 0;
			width: 35px;
			height: 100%;
			background: #e1cf02;
			@include background-image(linear-gradient(top, #d1c003 0%, #f1dd02 100%));
			@include border-radius(6px 0 0 6px);
			&:after{
				content: "";
				position: absolute;
				top: 6px;
				left: 8px;
				@include s($icons, ok);
			}
		}
	}
	p{
		position: absolute;
		top: 2px;
		left: 35px;
		width: 164px;
		text-align: center;
		color: #e3e3eb;
		font-family: "RobotoSlab";
		font-size: 18px;
		@include respond-to(1680){
	        width: 164px*$k_1680;
			font-size: 18px*$k_1680;
	    }
	    @include respond-to(1400){
	        width: 164px*$k_1400;
			font-size: 18px*$k_1400;
	    }
	    @include respond-to(1280){
	        width: 164px*$k_1280;
			font-size: 18px*$k_1280;
	    }
	    @include respond-to(1000){
	        width: 164px*$k_1000;
			font-size: 18px*$k_1000;
	    }
	}
}
.map__hint{
	position: absolute;
	top: 50px;
	right: 0;
	width: 336px;
	padding: 40px;
	@include border-radius(6px);
	background: rgba(74,83,92,.8);
	color: #fefefe;
	font-family: "RobotoSlab";
	font-size: 20px;
	&:before{
		content: "";
		position: absolute;
		top: -13px;
		right: 172px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 13px 10px;
		border-color: transparent transparent rgba(74,83,92,.8) transparent;
	}
	@include respond-to(1680){
		padding: 30px;
		font-size: 18px;
		&:before{
			right: 144px;
		}
	}
	@include respond-to(1400){
		padding: 20px;
		font-size: 16px;
		&:before{
			right: 123px;
		}
	}
}
.flats{
	position: relative;
	float: right;
	width: 50%;
	padding: 30px 25px 0;
	@include box-sizing(border-box);
	@include transition(400ms ease-in-out);
	z-index: 1;
}
.search-overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255, .6);
	z-index: 999; 
}
.flats_mod{
	width: 99%;
	.flats__card{
		max-width: 290px;
	}
	.flats__item{
		max-width: 50%;
	}
}
.wrapper-tabs{
	text-align: center;
	margin-bottom: 22px;
}
.tabs{
	display: inline-block;
	height: 34px;
	@include border-radius(6px);
	overflow: hidden;
	@include respond-to(1680){
        height: floor(34px*$k_1680);
    }
    @include respond-to(1400){
        height: floor(34px*$k_1400);
    }
    @include respond-to(1280){
        height: floor(34px*$k_1280);
    } 
    @include respond-to(1000){
        height: floor(34px*$k_1000);
    }
    div {
    	width: 150px;
		float: left;
		text-align: center;
		height: 34px;
		line-height: 34px;
		background: #2b2d33;
		font-size: 18px;
		color: #fff;
		cursor: pointer;
		&.is-active{
			background: #ffea01;
			color: #2c2d33;
		}
		@include respond-to(1680){
			height: floor(34px*$k_1680);
	        line-height: floor(34px*$k_1680);
	        width: floor(150px*$k_1680);
	        font-size: floor(18px*$k_1680);
	    }
	    @include respond-to(1400){
	    	height: floor(34px*$k_1400);
	        line-height: floor(34px*$k_1400);
	        width: floor(150px*$k_1400);
	        font-size: floor(18px*$k_1400);
	    }
	    @include respond-to(1280){
	    	height: floor(34px*$k_1280);
	        line-height: floor(34px*$k_1280);
	        width: floor(150px*$k_1280);
	        font-size: floor(18px*$k_1280);
	    } 
	    @include respond-to(1000){
	    	height: floor(34px*$k_1000);
	        line-height: floor(34px*$k_1000);
	        width: floor(150px*$k_1000);
	        font-size: floor(18px*$k_1000);
	    }
    }
}
.tabs__list{
	
}
.flats__list{
	margin: 0 0 -20px -20px;
	@include clr;
	.flat.mapped{
		border: 1px solid #b7a801;
		background: #fffde5;
		.cost{
			background: #fffde5; 
		}
	}
}
div.tabs__sort{
	position: relative;
	background: #51cffc;
	color: #2c2d33;
	text-align: left;
	padding-left: 36px;
	@include box-sizing(border-box);
	&:before{
		content: "";
		position: absolute;
		top: 50%;
		right: 48px;
		margin-top: -11px;
		@include s($icons, sort-down); 
	}
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		right: 32px;
		margin-top: -11px;
		@include s($icons, sort-up);	
	}
	@include respond-to(1680){
		&:before{
			right: 38px; 
		}
		&:after{
			right: 24px;
		}
	}
	@include respond-to(1400){
		&:before{
			margin-top: -8px;
			right: 34px;
			@include s($icons, sort-down-s); 
		}
		&:after{
			margin-top: -8px;
			@include s($icons, sort-up-s); 
		}
	}
	@include respond-to(1280){
		padding-left: 30px;
	}
	@include respond-to(1175){
		@include box-sizing(border-box);
		&:before{
			right: 36px;
		}
	}
	@include respond-to(1000){
		padding-left: 30px;
		&:before{
			right: 32px;
		}
		&:after{
			right: 21px;
		}
	}
}
div.tabs__sort.down{
	&:before{
		@include s($icons, sort-down-black); 
	}
	@include respond-to(1400){
		&:before{
			@include s($icons, sort-down-black-s); 
		}
	}
}
div.tabs__sort.up{
	&:after{
		@include s($icons, sort-up-black); 
	}
	@include respond-to(1400){
		&:after{
			@include s($icons, sort-up-black-s); 
		}
	}
}
.flats__more{
	text-align: center;
	clear: both;
	padding-bottom: 3px;
	.button{
		display: inline-block;
		height: 35px;
		width: 152px;
		@include text-shadow(0 2px 0 #000);
	}
}
.flats__item{
	float: left;
	padding: 0 0 20px 20px;
	width: 100%;
	min-width: 50%;
	@include b(border-box);
	.flat{
		position: relative;
		padding: 5px 10px 5px;
		@include b(border-box);
		border: 1px solid #40daf9;
		@include border-radius(6px);
		background: #fff;
		@include clr;
		&:hover{
			padding: 4px 9px 4px;
			border: 2px solid #2b2d33;
			.flat__button{
			bottom: 3px;
			right: 4px;
			}
			.flat__services{
				bottom: 9px;
				left: 304px;
			}
			.more{
				bottom: 9px;
				right: 144px;
			}
		}
	}
	.flat__img{
		float: left;
		height: 218px;
		width: 33%;
		margin: 0 15px 0 -5px;
		@include respond-to(1400){
			margin: 0 5px 5px -5px;
		}
		img{
			display: block;
			width: 100%;
		}
	}
	.flat__number{
		position: absolute;
		top: -3px;
		left: 1px;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		border: 3px solid #fff;
		@include border-radius(50%);
		background: #2b2d33;
		font-family: 'Roboto Slab';
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	.flat__info{
		position: relative;
		overflow: hidden;
		color: #51535e;
		p{
			font-family: 'Roboto Slab', serif;
			font-weight: 300;
		}
		span{
			font-weight: 400;
		}
		@include respond-to(1400){
			padding-right: 25px;
		}
		@include respond-to(1280){
			overflow: visible;
			padding-right: 128px;
		}
		.flat__like{
			position: absolute;
			top: 6px;
			left: 2px;
			@include s($icons, like);
			cursor: pointer;
			@include respond-to(1280){
				left: 33.5%;
			}
		}
		.flat__like.is-active{
			@include s($icons, like-on);
		}
	}
	.flat__title{
		display: block;
		font-weight: bold;
		font-size: 24px;
		color: #14b8d0;
		text-indent: 35px;
		@include respond-to(1400){
			font-size: 18px;
		}
	}
	.flat__price{
		float: right;
		text-align: center;
		color: #2c2d33;
	}
	.cost{
		display: inline-block;
		font-size: 39px;
		background: #fff;
		p{
			font-size: 22px;
		}
		@include respond-to(1400){
			font-size: 34px;
			p{
				font-size: 19px;
			}
		}
	}
	.flat__button{
		position: absolute;
		bottom: 4px;
		right: 5px;
		width: 128px;
		button{
			width: 100%;
			height: 52px;
			font-size: 15px;
		}
	}
	&:hover{
		
	}	
}
.flat__rooms-number{
	position: absolute;
	bottom: 3px;
	padding: 0 15px;
	height: 24px;
	line-height: 24px;
	left: 3px;
	background: #FFF;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}
.flat__services{
	margin-top: 10px;
	ul{
		margin-left: -5px;
		font-size: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	li{
		display: inline-block;
		margin-left: 5px;
		i{
			display: block;
		}
	}
}
.more{
	position: absolute;
	bottom: 10px;
	right: 145px;
	font-size: 20px;
	font-weight: bold;
	color: #58565e;
	cursor: pointer;
}
.title-popup{
	position: absolute;
	font-size: 12px;
	z-index: 99999;
}
.more__services{
	background: #eff0f7;
	border: 1px solid #3f3f43;
	@include box-sizing(border-box);
	padding: 5px;
	@include box-shadow(0 1px 10px rgba(0,0,0,.45));
	&:after{
		content: "";
		position: absolute;
		bottom: -11px;
		right: 8px;
		@include s($icons, tooltip);
	}
	ul{
		font-size: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	li{
		display: inline-block;
		margin-left: 5px;
		&:first-child{
			margin-left: 0;
		}
		i{
			display: block;
		}
	}
}
.more__services.is-open{
	display: block;
}
.flats__card{
	float: left;
	padding: 0 0 20px 20px;
	width: 33%;
	min-width: 225px;
	max-width: 304px;
	@include b(border-box);
	@include respond-to(1400){
		width: 50%;
		max-width: 341px;
	}
	.flat{
		position: relative;
		display: block;
		padding: 5px;
		@include b(border-box);
		border: 1px solid #40daf9;
		@include border-radius(6px);
		background-color: #fff;
		&:hover{
			padding: 4px;
			border: 2px solid #2b2d33;
		}
	}
	.flat__img{
		height: 204px;
		overflow: hidden;
		img{
			width: 100%;
			display: block;
		}
	}
	.flat__title{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		min-height: 31px;
		padding: 0 40px 0 5px;
		background: rgba(0,0,0,.5);
		font-weight: bold;
		font-size: 19px;
		color: #fff;
		@include respond-to(1280) {
			font-size: 15px;
		}
	}
	.flat__number{
		position: absolute;
		bottom: -3px;
		right: -3px;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		border: 3px solid #fff;
		@include border-radius(50%);
		background: #2b2d33;
		font-family: "RobotoSlab";
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	.flat__number_yellow{
		background: #ffea01;
		color: #2c2d33;
	}
	.flat__info{
		position: relative;
		display: block;
		margin: 5px 0 0;
		color: #51535e;
		@include b(border-box);
		padding-right: 30px;
		p{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			color: #51535e;
		}
		.flat__adress{
			font-weight: 300;
		}
		.flat__like{
			position: absolute;
			top: 9px;
			right: 2px;
			@include s($icons, like);
			cursor: pointer;
		}
		.flat__like.is-active{
			@include s($icons, like-on);
		}
	}
	.flat__like{
		position: absolute;
	}
	.flat__price{
		margin-top: -5px;
		text-align: center;
		color: #2c2d33;
		background: url(../img/dash.png) 0 20px repeat-x;
	}
	.cost{
		display: inline-block;
		padding: 0 20px;
		font-size: 28px;
		background: #fff;
		p{
			margin-top: -10px;
			font-size: 16px;
		}
	}
	.flat__button{
		margin: 10px 0 2px;
		text-align: center;
		button{
			width: 98%;
			height: 52px;
		}
	}
}
.flats__card_2rows{
	@include respond-to(1281) {
		width: 50%;
		min-width: 265px;
		max-width: 461px;
		.flat{
			overflow: hidden;
		}
		.flat__img{
			height: 322px;
		}
		.flat__info{
			float: left;
			margin: 0;
		}
		.flat__price{
			position: relative;
			float: right;
			text-align: right;
			.cost{
				padding: 0;
			}
		}
		.flat__like{
			position: absolute;
			top: 21px;
			left: -35px;
			@include s($icons, like);
			cursor: pointer;
		}
		.flat__like.is-active{
			@include s($icons, like-on);
		}
		.flat__button{
			margin: 55px 0 2px;
		}
	}
}


// ========================= pagination ===============================

.l-pagination{
	margin: 11px 0 9px;
	text-align: center;
}
.pagination{
	position: relative;
	display: inline-block;
	height: 26px;
}
.flats{
	.l-pagination{
		margin: 11px 0 25px;
	}
}
.pagination__page{
	display: inline-block;
	width: 20px;
	a{
		display: block;
		height: 26px;
		line-height: 26px;
		font-weight: 500;
		font-size: 18px;
		color: #3a3a3a;
		&:hover{
			color: #35daf2;
		}
	}
}
.pagination__page.current a{
	color: #35daf2;
}
.pagination__prev, .pagination__next, .pagination__first, .pagination__last{
	position: absolute;
	top: 0;
	left: -36px;
	width: 26px;
	height: 26px;
	@include border-radius(5px);
	background: #35d9f1;
	border: 1px solid #0294a2;
	@include b(border-box);
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,.42));
	@include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
	&:hover{
		background: darken(#35d9f1, 5%);
		@include background-image(linear-gradient(top, #44c0fe 0%, #63e2fa 100%));
	}
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -5px 0 0 -4px;
		@include s($icons, prev-black);
	}
}
.pagination__next, .pagination__last{
	right: -36px;
	left: auto;
	i{
		@include s($icons, next-black);
	}
}
.pagination__first{
	left: -72px;
	i{
		margin-left: 0;
		left: 12px;
		&.first{
			left: 3px;
		}
	}
}
.pagination__last{
	right: -72px;
	i{
		margin-left: 0;
		left: 12px;
		&.first{
			left: 3px;
		}
	}	
}

// ================== additional services ========================

.l-popup, .l-popup2{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	@include opacity(.6);
	z-index: 98;
}
.popup{
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -291px;
	width: 580px;
	overflow: hidden;
	border: 1px solid #403f44;
	@include border-radius(6px 6px 0 0);
	background: #fff;
	z-index: 99;
}
.popup__title{
	overflow: hidden;
	height: 37px;
	line-height: 37px;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: #5a5c64;
	@include border-radius(6px 6px 0 0);
	border-bottom: 1px solid #ccd5de;
	background: #e1e6ea;
	span{
		display: inline-block;
		width: 50%;
		text-align: center;
	}
}
.services{
	@include clr;
	li{
		position: relative;
		float: left;
		width: 50%;
		height: 40px;
		line-height: 40px;
		padding: 0 18px 0 55px;
		@include b(border-box);
		border-bottom: 1px solid #ccd5de;
		border-right: 1px solid #ccd5de;
		font-family: 'Roboto Slab', serif;
		font-size: 13px;
		color: #5a5c64;
		cursor: pointer;
		i{
			position: absolute;
			top: 10px;
			left: 15px;
		}
		&:hover{
			background: rgba(0,0,0,.1);
		}
	}
	li.is-selected{
		background: #ffea01;
	}
}
.services_4{
	li{
		width: 25%;
		cursor: default;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		&:hover{
			background: inherit;
		}
	}
}
.icon-fridge{
	@include s($icons, fridge);
}
.icon-music{
	@include s($icons, music);
}
.icon-washmaschine{
	@include s($icons, washmaschine);
}
.icon-microwave{
	@include s($icons, microwave);
}
.icon-conditioner{
	@include s($icons, conditioner);
}
.icon-iron{
	@include s($icons, iron);
}
.icon-tv{
	@include s($icons, tv);
}
.icon-konserje{
	@include s($icons, konserje);
}
.icon-phone{
	@include s($icons, phone);
}
.icon-parking{
	@include s($icons, parking);
}
.icon-wifi{
	@include s($icons, Wifi);
}
.icon-safe{
	@include s($icons, safe);
}
.icon-animals{
	@include s($icons, animals);
}
.icon-waterheater{
	@include s($icons, waterheater);
}
.icon-smoke{
	@include s($icons, smoke);
}
.icon-cabletv{
	@include s($icons, cabletv);
}
.icon-party{
	@include s($icons, party);
}
.icon-bathroom{
	@include s($icons, bathroom);
}
.icon-owen{
	@include s($icons, owen);
}
.icon-kids{
	@include s($icons, kids);
}
.icon-dishwasher{
	@include s($icons, dishwasher);
}
.icon-guard{
	@include s($icons, guard);
}
.popup__text{
	height: 53px;
	line-height: 53px;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: #5a5c64;
}
.popup__buttons{
	text-align: center;
	button{
		display: inline-block;
		width: 180px;
		height: 46px;
		margin-right: 5px;
		margin-bottom: 19px;
	}
}
.popup__btn_blue{
	border: 1px solid #909495;
	background: #00e7fc;
	color: #51535e;
	margin: 0 0 0 5px;
}
.popup__close{
	position: absolute;
	top: 10px;
	right: 15px;
	width: 17px;
	height: 17px;
	cursor: pointer;
	i{
		display: block;
		@include s($icons, close);
	}
}
.col{
	float: left;
	width: 50%;
	margin-bottom: 20px;
	@include b(border-box);
	li{
		position: relative;
		height: 40px;
		line-height: 40px;
		padding: 0 0 0 28px;
		@include b(border-box);
		border-bottom: 1px solid #ccd5de;
		border-right: 1px solid #ccd5de;
		border-left: 1px solid #ccd5de;
		font-family: 'Roboto Slab', serif;
		font-size: 13px;
		color: #5a5c64;
	}
}
.district-list{
	top: 100%;
	left: 0px;
	right: 0px;
	z-index: 9999;
	margin-left: 0;
	width: auto;  
	.popup__title{
		text-align: center;
	}
	.col{
		float: none;
		width: 100%;
		li{
			@include respond-to(1000){
				text-align: center;
				padding: 0 10px; 
			}
		}
	}
}	
.district__selected{
	text-align: center;
	text-transform: uppercase;
	color: #4d5155;
	margin-bottom: 20px;
	font-weight: bold;
}		
.subway-line__item{
	cursor: pointer;
	&:hover{
		background: #ffea01;
		color: #000;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			right: -11px;
			@include s($icons,triangle);
			z-index: 1;
		}
	}
	i{
		position: absolute;
		top: 7px;
		left: 10px;
	}	
}
.subway-line__item.is-selected{
	background: #ffea01;
	color: #000;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		right: -11px;
		@include s($icons,triangle);
		z-index: 1;
	}
}
.subway-station__item{
	margin-left: -1px;
	cursor: pointer;
	&:hover{
		background: #ffea01;
		color: #000;
	}
}
.subway-station__item.is-selected{
	background: #ffea01;
	color: #000;
}
.icon-star{
	position: absolute;
	top: 12px;
	left: 7px;
	@include s($icons, star);
}
.icon-1{
	@include s($icons, icon-1);
}
.icon-2{
	@include s($icons, icon-2);
}
.icon-3{
	@include s($icons, icon-3);
}
.icon-4{
	@include s($icons, icon-4);
}
.icon-5{
	@include s($icons, icon-5);
}
.icon-6{
	@include s($icons, icon-6);
}
.icon-7{
	@include s($icons, icon-7);
}
.icon-8{
	@include s($icons, icon-8);
}
.icon-9{
	@include s($icons, icon-9);
}
.icon-10{
	@include s($icons, icon-10);
}
.icon-11{
	@include s($icons, icon-11);
}
.icon-12{
	@include s($icons, icon-12);
}

// bookblock
.bb-bookblock {
	position: relative;
	z-index: 10;
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	@include gpu;
}
.nav{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}
.bb-custom-icon-arrow-left,
.bb-custom-icon-arrow-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	@include hide-text; 
}
.bb-custom-icon-arrow-left {
	left: 0;
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -11px;
		@include s($icons, bb-left-pass);
	}
	&:hover{
		&:after{
			@include s($icons, bb-left);
		}
	}
}
.bb-custom-icon-arrow-right{
	right: 0;
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -11px;
		@include s($icons, bb-right-pass);
	}
	&:hover{
		&:after{
			@include s($icons, bb-right);
		}
	}
}
.bb-page {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
}

.bb-vertical .bb-page {
	width: 50%;
	height: 100%;
	left: 50%;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
}
.flats__item{
	.bb-vertical .bb-page{
		height: 100%;
	}
} 

.bb-horizontal .bb-page {
	width: 100%;
	height: 50%;
	top: 50%;
	-webkit-transform-origin: center top;
	-moz-transform-origin: center top;
	transform-origin: center top;
}

.bb-page > div,
.bb-outer,
.bb-content,
.bb-inner {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.bb-vertical .bb-content {
	width: 200%;
}

.bb-horizontal .bb-content {
	height: 200%;
}

.bb-page > div {
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bb-page > div:not(:only-child) {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bb-vertical .bb-back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.bb-horizontal .bb-back {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.bb-outer {
	width: 100%;
	overflow: hidden;
	z-index: 999;
}

.bb-overlay, 
.bb-flipoverlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.bb-flipoverlay {
	background-color: rgba(0, 0, 0, 0.2);
}

/* */

.bb-bookblock.bb-vertical > div.bb-page:first-child,
.bb-bookblock.bb-vertical > div.bb-page:first-child .bb-back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.bb-bookblock.bb-horizontal > div.bb-page:first-child,
.bb-bookblock.bb-horizontal > div.bb-page:first-child .bb-back {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

/* Content display */
.bb-vertical .bb-front .bb-content {
	left: -100%;
}

.bb-horizontal .bb-front .bb-content {
	top: -100%;
}

/* Flipping classes */
.bb-vertical .bb-flip-next,
.bb-vertical .bb-flip-initial {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.bb-vertical .bb-flip-prev {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.bb-horizontal .bb-flip-next,
.bb-horizontal .bb-flip-initial {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.bb-horizontal .bb-flip-prev {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.bb-vertical .bb-flip-next-end {
	-webkit-transform: rotateY(-15deg);
	-moz-transform: rotateY(-15deg);
	transform: rotateY(-15deg);
}

.bb-vertical .bb-flip-prev-end {
	-webkit-transform: rotateY(-165deg);
	-moz-transform: rotateY(-165deg);
	transform: rotateY(-165deg);
}

.bb-horizontal .bb-flip-next-end {
	-webkit-transform: rotateX(15deg);
	-moz-transform: rotateX(15deg);
	transform: rotateX(15deg);
}

.bb-horizontal .bb-flip-prev-end {
	-webkit-transform: rotateX(165deg);
	-moz-transform: rotateX(165deg);
	transform: rotateX(165deg);
}

.bb-item {
	width: 100%;
	// height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	background: #fff;
	@include box-sizing(border-box);
	z-index: 1;
}

/* No JS */
.no-js .bb-bookblock, 
.no-js ul.bb-custom-grid li {
	width: auto;
	height: auto;
}

.no-js .bb-item {
	display: block;
	position: relative;
}

// no-results
.no-results{
	position: relative;
	height: 424px;
	text-align: center;
	padding-top: 154px;
	margin: 0px -25px 44px;
	border-bottom: 2px solid #90a2ab;
	@include b(border-box);
	font-family: 'Roboto Slab', serif;
	font-size: 35px;
	font-weight: 300;
	color: #5f6a73;
	.l-tabs{
		top: auto;
		bottom: -14px;
		left: 50%;
		margin-left: -120px;
		span{
			font-size: 16px;
		}
	}
}
// change pass

.change-pass{
	max-width: 1200px;
	margin: 22px auto;
	@include respond-to(1680){
		max-width: 1080px;
	}
	@include respond-to(1400){
	    max-width: 960px;
	}
}
.change-pass__text{
	margin-bottom: 55px;
	font-weight: bold;
	font-size: 22px;
	color: #51535e;
}
.change-pass__form{
	position: relative;
}
.change-pass__input{
	position: relative;
	width: 274px;
	margin: 0 auto 30px;
	p{
		position: absolute;
		top: 0px;
		left: -220px;
		width: 200px;
		text-align: right;
		font: bold 17px 'Roboto Slab', serif;
		color: #51535e;
	}
}
.input-pass{
	width: 100%;
	@include b(border-box);
	height: 29px;
	padding: 0 8px;
	border: 1px solid #737373;
	border-radius: 5px;
	background: #f5f6f7;
	@include box-shadow(inset 0 2px 5px rgba(0,0,0,.19));
	@include background-image(linear-gradient(top, #c9cbcc 0%, #f4f4f5 70%, #f4f4f5 100%));
	font: 17px 'Roboto', sans-serif;
	color: #2c2b2e;
}
.change-pass__submit{
	margin-top: 75px;
	text-align: center;
	.button{
		height: 52px;
	}
}

// error 404
.l-error-404{
	div.l-tabs_comm{
		margin-left: -120px;
	}
}
.error-404{
	position: relative;
	margin: 230px auto 250px;
	width: 502px;
	height: 339px;
	border: 5px solid #048aca;
	@include border-radius(2px);
	background: #ebeff3;
	@include box-shadow(0 -1px 1px 0 rgba(0,0,0,.15), inset 0 0 0 rgba(0,0,0,.75));
}
.error-404__clip{
	position: absolute;
	top: -116px;
	left: 10px;
	width: 481px;
	height: 141px;
	background: url(../img/clip2.png) 0 0 no-repeat;
}
.error-404__content{
	padding: 34px 21px 28px;
	p{
		margin-bottom: 30px;
	}
}
.error-404__title{
	position: relative;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px solid #bbbbbc;
	@include bebas;
	text-transform: uppercase;
	font-size: 40px;
	color: #51535e;
	&:after{
		content: "";
		position: absolute;
		bottom: -4px;
		left: 0;
		right: 0;
		height: 2px;
		background: #fff;
	}
}
.error-404__text{
	padding-top: 20px;
	font: 300 16px 'Roboto Slab', serif;
	color: #51535e;
}
.error-404__back{
	text-align: center;
	button{
		height: 52px;
	}
}

.seo-text {
	font-size: 13px;
	color: #959595;
	font-family: 'Roboto', sans-serif;
	h1 {
		margin: 40px auto 20px; 
		font-weight: normal;
		font-size: 18px;
		text-align: center;
		color: #545e68;
		overflow: hidden;
		span {
			display: inline-block;
			position: relative;
			&:before,
			&:after {
				content: "";
				position: absolute;
				height: 1px;
				top: 12px;
				width: 2000px;
				background: #d7d7d7;
			}
			&:before {
				left: -2010px;
			}
			&:after {
				right: -2010px;
			}
		}
				
				
	}
	p {
		margin-bottom: 12px; 
	}
}

// popup no-results

             