@import "base";

.map__flat{
    position: relative;
    width: 400px;
    border-radius: 5px;
    background: rgba(74,83,92,.9);
    padding: 12px; 
    z-index: 2;
    @include clr;
    &:before{
        content: "";
        position: absolute;
        bottom: -7px;
        left: 50%;
        margin-left: -12px;
        @include s($icons, map-triangle);
    }
    &.multiflats{
        width: 420px;
        padding: 12px 7px 12px 0px;
        .map__preview{
            width: 124px;
            height: 83px;  
        }
        .map__price{
            float: left;
            margin-right: 5px;
        }
        .button{
            float: left;
            width: 102px;
            height: 42px;
            margin-top: 10px;  
            padding: 0 9px;  
        } 
    }
}
.map__list{
    height: 339px;
    overflow: auto;
    outline: none;
    li{
        padding-left: 12px;
        border-top: 1px solid #3b4146;
        padding-top: 14px; 
        &:first-child{
            padding-top: 0;
            border-top: none;  
        }  
    } 
}
.map__preview{
    float: left;
    margin-right: 15px;
    width: 186px;
    height: 122px;
    border-radius: 2px;
    border: 3px solid #fff;
    img{
        width: 100%;
        height: 100%;    
    }
}
.map__content{
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    .button{
        width: 175px;
        height: 34px;
        font-size: 14px;  
    }
}
.map__price{
    margin: 10px 0; 
    padding: 5px 0; 
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    span{
        font-weight: bold;
        font-size: 24px;       
    }
}

// scroll pane
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer{
    overflow: hidden;
    position: relative;
}
  

.jspPane{
    position: absolute;
}

.jspVerticalBar{
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 100%;
    border-radius: 4px;
    background: #333a41; 
}
    
     

.jspHorizontalBar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}
  

.jspVerticalBar *,
.jspHorizontalBar *{
    margin: 0;
    padding: 0;  
}
  

.jspCap{
    display: none;
}

.jspHorizontalBar .jspCap{
  float: left;
}

.jspTrack{
    background: #333a41;
    position: relative;
    border-radius: 4px;
}
    
     
.jspDrag{
    background: #57d5fc;
    position: relative;
    border-radius: 4px;
    width: 9px;
    margin: 2px auto;  
    top: 0;
    left: 0;
    cursor: pointer; 
}
  

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
    float: left;
    height: 100%;
}
  

.jspArrow{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}
  

.jspArrow.jspDisabled{
    cursor: default;
    background: #80808d;
}
  

.jspVerticalBar .jspArrow{
  height: 16px;
}

.jspHorizontalBar .jspArrow{
    width: 16px;
    float: left;
    height: 100%;
}
  

.jspVerticalBar .jspArrow:focus{
  outline: none;
}

.jspCorner{
    background: #eeeef4;
    float: left;
    height: 100%;
}
  

// Yuk! CSS Hack for IE6 3 pixel bug :(

* html .jspCorner{
    margin: 0 -3px 0 0
}
