@import "base";

// css styles for news

.single-post{
	padding: 45px 0 50px;
	text-align: justify;
	p{
		margin-bottom: 33px;
		font: 300 17px 'Roboto Slab', serif;
		color: #51535e;
	}
	b{
		font-weight: bold;
		font-style: italic;
	}
}
.single-post__img{
	float: left;
	width: 50%;
	margin: 0 55px 25px 0;
}
p.single-post__topper{
	@include clr;
	font: 18px 'Roboto Slab', serif;
	color: #5a5c64;
	line-height: 1.5;
}
.single-post__button{
	margin-bottom: 70px;
	text-align: center;
	a{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		text-align: center;
		@include text-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));
	}
}
.payment-banner{
	margin-bottom: 20px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	font-size: 30px;
	color: #000;
	background: #ccc;
}
