@import "base";

// css styles for owners page

.owners{
	margin-top: 42px;
}
.owners__text{
	padding: 18px 0 54px;
	font: 17px 'Roboto Slab', serif;
	color: #51535e;
	text-align: justify;
	line-height: 1.8;
}
.owners__wishes{
	margin: 110px 0 100px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #14b8d0;
}