@import "base";

.popup-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    font-size: 0;
    overflow: auto;
    text-align: center;
    vertical-align: middle;
    &:after{
        content:"";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }    
}
.popup_help{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: auto;
    left: auto;
    font-size: 16px;
    margin-left: 0; 
    border: 1px solid #ccd5de;
    width: 766px;
    @include respond-to(1680){
        width: 700px;
    } 
    .popup__title{
        height: auto;
        font-size: 22px;
        font-weight: bold;
        padding-top: 10px;
        @include respond-to(1680){
            padding: 0 15px; 
        } 
        p{
            font-size: 16px;
            color: #4d5155;
            text-transform: none;
            line-height: 1.2;
            margin-bottom: 12px; 
            b{
                color: #3bb1e4;
                font-weight: bold;
            } 
        }
    }
}
.find-helper{
    padding: 25px; 
    background: #FFF;
    @include respond-to(1680){
        padding: 15px; 
    }
}
.find-helper__row{
    @include clr;
    margin-bottom: 24px;
    @include respond-to(1680){
        margin-bottom: 10px;
    }
}
.find-helper__col{
    float: left;
    width: 188px;
    margin-left: 70px;
    &:first-child{
        margin-left: 0;
    }
    @include respond-to(1680){
        margin-left: 53px;
    }  
}
.find-helper__title{
    margin-bottom: 5px; 
    font-size: 14px;
    color: #4d5155;
    font-weight: bold;
}
.find-helper__input, .find-helper__textarea{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    background: #EEF2F6;
    @include b(border-box);
    padding: 0 9px;
    color: #8c9299;
    font-size: 16px;
    @include box-shadow(inset 1px 1px 1px #d4d6d8);
}
.find-helper__textarea{
    height: 100px;
    resize: none;
    padding: 5px 9px;
    border: none; 
}
.select__text{
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    @include b(border-box);
    padding: 0 8px;
    color: #8c9299;
    font-size: 16px;
    border: 1px solid #d4d6d8;
    background: #eef2f6;
    @include background-image(linear-gradient(bottom, #dfe7ed 0%, #fdfdfe 100%)); 
    cursor: pointer;
    em{
        font-style: normal;
    }
    i{
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        width: 25px;
        border-left: 1px solid #d4d6d8;
        &:before{
            content: "";
            position: absolute;
            top: 8px;
            left: 10px;
            @include s($icons, select);
        }  
    }
}
.select__drop{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #d4d6d8;
    @include b(border-box);
    background: #eef2f6;
    @include background-image(linear-gradient(bottom, #dfe7ed 0%, #fdfdfe 100%));
    z-index: 99;
    li{
        padding: 0 9px; 
    }  
}
.select__list{
    position: relative;
}
.select__list.is-open{
    .select__drop{
        display: block;
    }
}
.find-helper__bottom{
    text-align: center;
    padding-bottom: 20px;
    @include respond-to(1680){
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .button{
        width: 233px; 
        padding: 0 5px;
        height: 50px;
        @include respond-to(1440){
            width: 233px!important; 
        }  
    }
}
.find-helper__hint{
    text-align: center;
    span{
        display: inline-block;
        padding-top: 20px;
        position: relative;
        font-style: italic;
        font-weight: bold;
        color: #89c84b;
        &:before{
            content: "";
            position: absolute;
            top: 31px;
            left: 110%;
            width: 30px;
            height: 1px;
            background: #e9eaec;  
        }
        &:after{
            content: "";
            position: absolute;
            top: 31px;
            right: 110%;
            width: 30px;
            height: 1px;
            background: #e9eaec;  
        }
    }
}