@import "base";

// css styles for profile

.profile{
	.title{
		height: 200px;
	}
}
.profile-box{
	margin-bottom: 60px;
}
.profile__tabs{
	font-size: 0;
	@include clr;
}
.profile__tab-link{
	float: left;
	width: 49.8%;
	height: 45px;
	margin-left: 4px;
	padding: 0 1%;
	@include b(border-box);
	border: 1px solid #c0c0c0;
	@include border-radius(3px 3px 0 0);
	background: #dedede;
	@include box-shadow(inset 0 1px 0 #fff);
	@include background-image(linear-gradient(bottom, #d9d9d9 0%, #e0e0e0 100%));
	cursor: pointer;
	@include user-select;
	font: 20px/45px 'Roboto Slab', serif;
	color: #51535e;
	&:first-child{
		margin-left: 0;
	}
	&:active{
		@include background-image(linear-gradient(top, #d9d9d9 0%, #e0e0e0 100%));
	}
	@include respond-to(1400){
		width: 49.7%;
	}
}
.profile__tab-link_right{
	float: right;
}
.profile__tab-link.is-active{
	background: #f3f3f3;
	border-bottom: none;
	color: #1e1e1e;
	cursor: default;
}
.profile__content{
	padding: 40px;
	margin-top: -1px;
	border: 1px solid rgba(0,0,0,.24);
	background: #f3f3f3;
	@include box-shadow(0 0 3px rgba(0,0,0,.19));
}
.user-profile{
	@include clr;
}
.user-profile__avatar{
	text-align: center;
}
.user-profile__img{
	width: 148px;
	height: 148px;
	margin: 0 auto 30px;
	overflow: hidden;
	border: 4px solid #504f55;
	@include border-radius(78px);
	background: #e1e1e1;
	@include box-shadow(0 1px 6px rgba(0,0,0,.46));
	img{
		width: 100%;
		height: 100%;
	}
}
.upload{
	position: relative;
	display: inline-block;
	width: 275px;
	overflow: hidden;
	input[type="file"]{
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 38px;
		@include opacity(0);
		cursor: pointer;
	}
	.button{
		position: absolute;
		top: 0;
		left: 0;
		width: 275px;
		height: 50px;
		padding: 10px 10px 10px 50px;
		font-size: 15px;
		@include text-shadow(0 2px 2px #191a1c);
		&:before{
			content: "";
			position: absolute;
			top: 12px;
			left: 12px;
			@include s($icons, upload);
		}
	}
}
.user-profile__row{
	@include clr;
	padding-left: 20px;
	margin-top: 35px; 
	span{
		float: left;
		font: bold 17px 'Roboto Slab', serif;
		color: #5a5c65;
	}
	input{
		float: right;
		border: 1px solid rgba(0,0,0,.29);
	}
}
.user-profile__error{
	width: 400px;
	float: right;
	font: 12px 'Roboto Slab', serif;
    color: #ff0000;
}
.change-pass{
	text-align: right;
	clear: both;
	margin: 40px 0;
	a{
		color: #616c76;
		font-size: 18px;
		text-transform: uppercase;
		text-decoration: underline;

	}
}
.profile__divide{
	height: 2px;
	margin-bottom: 10px;
	background: #e9e9e9;
	border-bottom: 2px solid #f8f8f8;
}
.profile__title{
	height: 35px;
	padding: 0 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font: bold 18px/35px 'Roboto', sans-serif;
	color: #404148;
	background: #e1e6eb;
}
.checkbox{
	position: relative;
	display: block;
	margin-bottom: 32px;
	font: 300 16px 'Roboto Slab', serif;
	label{
		cursor: pointer;
	}
	input{
		@include opacity(0);
	}
	i{
		position: absolute;
		top: 0px;
		left: 0;
		width: 18px;
		height: 18px;
		border: 1px solid #0294a2;
		@include border-radius(5px);
		background: #35d9f1;
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,.42));
		@include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
		cursor: pointer;
	}
	input:checked + i{
		&:before{
			content: "";
			position: absolute;
			top: 3px;
			left: 2px;
			@include s($icons, ok-small);
		}
	}
	span{
		padding-left: 15px;
	}
}
.profile__socials{
	width: 640px;
	margin: 0 auto;
	border-top: none;
	.button{
		width: 72px;
		height: 57px;
	}
	.button.linked{
		background: #00e7fb;
		border: 1px solid #d2c001;
    	@include box-shadow(0 2px 3px rgba(27, 30, 32, 0.67), inset 0 1px 0 rgba(255,255,255,.68));	
    	@include background-image(linear-gradient(bottom, #edd901 0%, #ffe901 100%));
		&:active{
        	background: darken(#00e7fb, 5%);
        	@include background-image(linear-gradient(top, #edd901 0%, #ffe901 100%));
    	}
	}
	p{
		margin-bottom: 30px;
		font: bold 19px 'Roboto Slab', serif;
		color: #51535e; 
	}
}
.l-profile__save{
	margin-top: 60px;
	text-align: center;
	.button{
		font-size: 24px;
	}
}

// tab 2
.order__item{
	position: relative;
	@include clr;
}
.order__item.is-open{
	margin-bottom: 15px;
	background: #e1e6eb;
	border: 1px solid #c9cfd5;
	.order__buttons{
		width: 602px;
		margin: 45px auto 25px;
	}
}
.order__img{
	float: left;
	width: 25%;
	height: 150px;
	margin-right: 1%;
	img{
		width: 100%;
		height: 100%;
	}
}
.order__price{
	float: right;
	width: 166px;
	text-align: center;
	color: #2c2d33;
	.order__value{
		font-weight: bold;
		font-size: 39px;
	}
	.order__currency{
		font-size: 22px;
	}
}
.order__block{
	overflow: hidden;
	padding-bottom: 10px;
}
.order__title{
	font-size: 30px;
	color: #14b8d0;
}
.order__period{
	margin-bottom: 7px;
	font-size: 20px;
	color: #2c2d33;
}
.order__adress{
	margin-bottom: 7px;
	font: 300 16px 'Roboto Slab', serif;
	color: #51535e;
	a{
		color: #2398ab;
		font-weight: normal;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.order__buttons{
	margin: 0 0 25px 26%;
	.button{
		height: 40px;
		padding: 0 10px;
		font-size: 15px;
		width: 198px;
	}
}
.order__more{
	text-align: center;
	margin-bottom: 13px;
	a{
		position: relative;
		text-transform: uppercase;
		text-decoration: underline;
		font-weight: bold;
		font-size: 17px;
		color: #3c3c3d;
		&:hover{
			text-decoration: none;
		}
		&:after{
			content: "";
			position: absolute;
			top: 6px;
			right: -16px;
			@include s($icons, down);
		}
	}
	a.is-open{
		&:after{
			@include s($icons, up); 
		}
	}
}
.order__item_archive{
	.order__img, .order__block, .order__price{
		@include opacity(.7);
	}
	.order__buttons{
		.button{
			width: 250px;
		}
	}
	.order__title{
		color: #2c2d33;
	}
}
.order__details{
	.note{
		padding: 0 2% 2%;
		border: none;
		background: transparent;
		@include box-shadow(none);
		font-family: 'Roboto slab', serif;
	}
	.room__img{
		margin-bottom: 28px;
	}
}
.canceled{
	display: inline-block;
	height: 42px;
	line-height: 42px;
	padding: 0 35px;
	background: #e1e6eb;
	font-size: 20px;
	color: #f62222;
	text-transform: uppercase;
}