@import "base";

// css styles for rules with tabs
.l-rules{
	padding-top: 10px;
}
.rules__general{
	margin-bottom: 30px;
	padding: 0 15px;
	font: 17px 'Roboto Slab', serif;
	color: #51535e;
}
.rules-tabs{
	margin-bottom: 80px;
}
.rules-tabs__nav{
	position: relative;
	@include clr;
	z-index: 1;
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	text-justify: newspaper;
	text-align-last: justify;
	&:after{
		content: '';
		width: 100%;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
		display: inline-block;
	}
	li{
		display: inline-block;
		width: 239px;
		height: 55px;
		padding: 10px 15px;
		@include b(border-box);
		text-align: left;
		border: 1px solid #c0c0c0;
		@include border-radius(3px);
		background: #ffeb01;
		@include box-shadow(inset 0 1px 0 white, inset 0px -4px 5px rgba(0,0,0,.2));
		@include background-image(linear-gradient(bottom, rgba(0,0,0,.16) 0%, rgba(255,255,255,.16) 100%));
		font: 17px/17px 'Roboto Slab', serif;
		color: #51535e;
		cursor: pointer;
		@include respond-to(1680){
			width: 215px;
		}
		@include respond-to(1400){
			width: 191px;
		}
		&:hover{
			@include background-image(linear-gradient(top, rgba(0,0,0,.16) 0%, rgba(255,255,255,.16) 100%));
		}
	}
	li.is-active{
		border: 1px solid rgba(0,0,0,.24);
		@include border-radius(4px);
		background: #f3f3f3;
		@include box-shadow(0 0 8px rgba(0,0,0,.19));
		color: #1e1e1e;
	}
}
.rules-tabs__content{
	position: relative;
	top: -3px;
	z-index: 2;
	background: #F3F3F3;
	border: 1px solid rgba(0,0,0,.24);
	border-top: none;
	font: 17px 'Roboto slab', serif;
	color: #51535e;
}
.rules-tabs__item{
	padding: 30px 15px 0;
}
.rules-tabs__text{
	padding-bottom: 30px;
}