@import "base";	
.title{
	overflow: hidden;
	background: url(../img/bg.jpg) 0 0 no-repeat;
	@include background-size;
	h1{
		line-height: 58px;
		display: block;
		max-width: 1200px;
		margin: 0 auto;
		@include respond-to(1680){
			max-width: 1080px;
		}
		@include respond-to(1400){
    	    max-width: 960px;
    	}
	}
}
.room, .container{
	max-width: 1200px;
	margin: 0 auto;
	@include clr;
	@include respond-to(1680){
        max-width: 1080px;
    }
    @include respond-to(1400){
        max-width: 960px;
    }
    @include respond-to(1280){
        max-width: 900px;
    }
}
.container{
	@include respond-to(1280){
		max-width: 960px;
	}
}
.media{
	position: relative;
	float: left;
	width: 71.6%;
	height: 622px;
	margin-top: 19px;
}
.room__tab1{
	display: none;
}
.media__container{
	position: relative;
	@include box-shadow(0px 0px 4px 1px #ccc);
	padding: 10px;
	z-index: 1;
}
.single-click{
	position: absolute;
	top: -5px;
	right: -8px;
	width: 122px;
	height: 122px;
	background: url(../img/click.png) 0 0 no-repeat; 
	z-index: 101;
}
.flat .single-click{
	top: 0;
	right: -2px;
}
.media__map{
	height: 583px;
	@include b(border-box);
	border: 1px solid #52545f;
	@include box-shadow(inset 0px 0px 1px 0px rgba(255,255,255, .1));
}
.l-tabs{
	position: absolute;
	top: -43px;
	height: 43px;
	padding: 0 20px;
	background: #fff;
}
.l-tabs_comm{
	position: absolute;
	top: -57px;
	left: 50%;
	height: 43px;
	margin-left: -120px;
	padding: 0 20px;
	background: #fff;
}
.btn-tab{
	display: inline-block;
	width: 201px;
	height: 43px;
	line-height: 43px;
	@include border-radius(6px 6px 0 0);
	background: #2c2d33;
	text-align: center;
	color: #e3e4ec;
	font-family: 'Roboto Slab', serif;
	cursor: pointer;
}
.btn-tab.is-active{
	background: #ffee32;
	color: #51535e;
}
.room__sidebar{
	width: 28.4%;
	float: right;
	padding: 30px 20px;
	@include b(border-box);
	text-align: center;
	@include respond-to(1280){
		padding: 30px 20px 0;
	}
}
.room__metro{
	position: relative;
	clear: both;
	padding-left: 35px;
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	font-weight: bold;
	color: #51535e;
	&:before{
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		@include s($icons, metro); 
	}
}
.wrapper-order{
	.payment__error{
		margin: 0 0 10px;
	}
}
.val{
	overflow: hidden;
	margin-bottom: 18px;
}
.val__main{
	@include clr;
	text-align: center;
}
.val__number{
	display: inline-block;
	font-size: 60px;
	color: #51535e;
	@include respond-to(1680){
		font-size: 58px;
	}
	@include respond-to(1400){
		font-size: 51px;
	}
	@include respond-to(1280){
		font-size: 47px;
	}
}
.val__curr{
	display: inline-block;
	margin: 4% 0 0 5%;
	span{
		display: block;
		font-size: 16px;
		color: #51535e;
		text-transform: uppercase;
		@include respond-to(1400){
			font-size: 13px;
		}
		@include respond-to(1280){
			font-size: 12px;
		}
		&:first-child{
			font-size: 33px;
			font-weight: bold;
			margin-bottom: -7px;
			@include respond-to(1400){
				font-size: 29px;
			}
			@include respond-to(1280){
				font-size: 27px;
			}
		}
	}
}
.tariff{
	margin: 20px 0;
	li{
		margin-bottom: 5px;
		overflow: hidden;
		font-size: 15px;
	}
}
.tariff__time{
	width: 40%;
	float: left;
	font-weight: bold;
	color: #51535e;
	@include respond-to(1280){
		font-size: 14px;
	}
}
.tarif__price{
	width: 60%;
	float: right;
	color: #999;
	@include respond-to(1280){
		font-size: 14px;
	}
}
.room__fav{
	margin: 49px 0 10px;
	@include respond-to(1400){
		margin: 24px 0 10px;
	}
}
.confirmed{
	margin-bottom: 7px;
	font-size: 0;
	img{
		max-width: 100%; 
	}
	@include respond-to(1400){
		width: 160px; 
		margin: 0 auto 7px;
	}
}
.room__id{
	color: #2c2d33;
	font-family: "Roboto Slab";
	font-size: 20px;
	font-weight: bold;
}
.room__info{
	clear: both;
	margin-top: 28px;
	color: #5a5c65;
}
.room__title, .payment__title{
	height: 35px;
	line-height: 35px;
	padding: 0 30px;
	background: #e1e6eb;
	color: #4d5154;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.payment__title{
	margin-bottom: 24px;
	background: #fff698;
}
.room-table{
	border-bottom: 1px solid #d0d4d9;
	margin-bottom: 20px;
	@include clr;
	li{
		float: left;
		width: 25%;
		height: 50px;
		padding: 0 20px 0 30px;
		line-height: 50px;
		@include b(border-box);
		border-left: 1px solid #d0d4d9;
		font-size: 17px;
		&:first-child{
			border-left: none;
		}
		.room-table__text{
			float: left;
			font-size: 17px;
			font-weight: 300;
			@include respond-to(1400){
				font-size: 15px;
			}
			@include respond-to(1280){
				font-size: 14px;
			}
		}
		.room-table__value{
			float: right;
			text-align: right;
			font-weight: 700;
		}
		@include respond-to(1400){
			font-size: 15px;
		}
		@include respond-to(1280){
			font-size: 14px;
			padding: 0 10px 0 20px;
			height: 40px;
			line-height: 40px;
		}
	}
}
.room__short{
	margin-bottom: 40px;
	font-size: 17px;
	font-family: 'Roboto Slab', serif;
	color: #51535e;
}

.room__descr, .room__descr * {
	margin-bottom: 30px;
	font-family: 'Roboto Slab', serif !important;
	color: #51535e !important;
}

.room__descr, .room__descr *:not(strong):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-weight: 400 !important;
}

.room__descr, .room__descr *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-size: 17px !important;
}

.date{
	@include clr;
	margin-top: 36px;
}
.date__calendar{
	float: left;
	width: 49.4%;
	@include respond-to(1400){
		width: 56%;
	}
	@include respond-to(1280){
		width: 60%;
	}
}
.date__month{
	margin-left: 7px;
	&:first-child{
		margin-left: 0;
	}
	.ui-datepicker{
		width: 100%!important;
		margin: 10px 0 0 0px;
	}
	.ui-datepicker-calendar{
		@include respond-to(1680){
        	width: 265px;
        }
        td{
        	@include respond-to(1680){
        	    height: 33px;
        	}
        	a{
        		@include respond-to(1680){
            	    line-height: 33px;
            	}
        	}
        }
	}
}
.color-description{
	@include clr;
	margin-top: 14px;
	li{
		float: left;
		margin-right: 22px;
		font: 15px 'Roboto Slab', serif;
		color: #6c6a72;
	}
}
.color-description__red, .color-description__green{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 8px;
	background: #ffcdce;
}
.color-description__green{
	background: #cdf6d0;
}
.wrap-left{
	float: right;
	width: 48%;
	margin-top: 16px;
	@include respond-to(1400){
		width: 43%;
	}
	@include respond-to(1280){
		width: 40%;
	}
}
.date__select{
	@include clr;
	font-size: 22px;
	font-weight: 300;
	color: #51535e;
}
.date__input{
	position: relative;
	float: left;
	width: 50%;
	span{
		display: inline-block;
		width: 10%;
		text-align: center;
		@include respond-to(1400){
			width: 11%;
		}
	}
	input{
		position: relative;
		width: 87%;
		height: 39px;
		@include b(border-box);
		padding: 0 13% 0 4%;
		background: #e1e6eb;
		font-weight: bold;
		font-size: 18px;
		color: #51535e;
		@include respond-to(1400){
			width: 86%;
		}
	}
	i{
		position: absolute;
		top: 8px;
		right: 4%;
		@include s($icons, calendar);
	}
}
.date__number{
	clear: both;
	margin: 37px 0 33px;
	text-align: center;
	font-weight: 300;
	font-size: 28px;
	color: #51535e;
	span{
		font-weight: bold;
	}
}
.price-full{
	line-height: 75px;
	@include opacity(.93);
	border: 2px solid #c5c5c9;
	@include border-radius(6px);
	background-color: rgba(255,234,1,.87);
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	color: #51535e;
	@include respond-to(1680){
		font-size: 32px;
	}
	@include respond-to(1400){
		width: 92%;
		margin-left: 6%;
		font-size: 24px;
		line-height: 55px;
	}
	span{
		font-weight: 300;
		font-size: 30px;
		@include respond-to(1680){
			font-size: 27px;
		}
		@include respond-to(1400){
			font-size: 18px;
		}
	}
}
.price-full_mod{
	line-height: 1.4;
	.price-full__percent{
		margin: 5px 0 10px;
		font-size: 24px;
		color: #72747d;
		span{
			font-size: 19px;
		}
	}
}
.wrapper-order{
	position: relative;
	margin: 52px 0 45px;
	text-align: center;
	@include respond-to(1400){
		margin: 32px 0 25px;
	}
}
.arrow{
	position: absolute;
	top: 22px;
	right: 20%;
	font-family: 'Bad Script', cursive;
	font-size: 25px;
	color: #51535e;
	@include respond-to(1400){
		right: 16%;
	}
	&:after{
		content:"";
		position: absolute;
		top: -66px;
		right: -14px;
		@include s($icons, arrow-up);
		@include respond-to(1400){
			right: 0px;
		}
	}
}
.comments{
	position: relative;
	width: 1200px;
	margin: 35px auto 0;
	padding: 0 5px;
	@include b(border-box);
	color: #51535e;
	font-size: 17px;
	font-family: "RobotoSlab", serif;
	@include respond-to(1680){
		width: 1080px;
	}
	@include respond-to(1400){
		width: 960px;
	}
	@include respond-to(1280){
		width: 900px;
	}
}
.comment{
	@include clr;
	margin-bottom: 42px;
}
.comment__img{
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	@include border-radius(50%);
	img{
		width: 100%;
		height: 100%;
	}
}
.comment__text{
	overflow: hidden;
	padding: 0 26px;
	@include b(border-box);
}
.comment__title{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	span{
		font-weight: 300;
	}
}
.comment__new{
	overflow: hidden;
	padding: 0 26px;
	text-align: right;
	textarea{
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		min-height: 189px;
		@include b(border-box);
		padding: 10px;
		margin-bottom: 5px;
		border: 1px solid rgba(0,0,0,.55);
		@include border-radius(7px);
		background: #f5f6f7;
		@include box-shadow(inset 0 2px 5px rgba(0,0,0,.19));
		@include background-image(linear-gradient(top, #e5e7e9 0%, #f4f4f5 100%));
		color: #2c2b2e;
		font-family: "Roboto Slab", sans-serif;
		font-size: 17px;
	}
	button{
		width: 275px;
		height: 58px;
	}
}
.similar{
	position: relative;
	margin-top: 35px;
	.l-tabs_comm{
		margin-left:-223px;
	}
}
.similar__price{
	overflow: hidden;
	padding-right: 20px;
}
.similar__container{
	@include clr;
	.flats__card{
		width: 20%;
		max-width: none;
		min-width: 0px;
	}
}
.next-room, .prev-room{
	position: fixed;
	top: 50%;
	right: 7%;
	width: 103px;
	text-align: center;
	font-family: 'Bad Script', cursive;
	font-size: 25px;
	color: #51535e;
	@include respond-to(1680){
		right: 4%;
		font-size: 20px;
		width: 83px;
	}
	@include respond-to(1280){
		right: 0%;
		font-size: 12px;
		width: 52px;
	}
	&:after{
		content:"";
		position: absolute;
		top: -35px;
		right: 0px;
		@include s($icons, arrow-right);
		@include respond-to(1280){
			@include s($icons, arrow-right-s);
		}
	}
}
.prev-room{
	right: auto;
	left: 7%;
	@include respond-to(1680){
		left: 4%;
		font-size: 20px;
	}
	@include respond-to(1280){
		left: 0%;
		font-size: 12px;
		width: 52px;
		text-align: center;
	}
	&:after{
		left: 0px;
		@include s($icons, arrow-left);
		@include respond-to(1280){
			@include s($icons, arrow-left-s);
		}
	}	
}
.js-slide-rooms_move{
	position: absolute;
	top: 1000px;
}

// photo gallery
.photo-gallery__img{
	width: 100%;
	height: 460px;
	@include respond-to(1400){
		height: 400px;
	}
	@include respond-to(1280){
		height: 350px;
	}
	img{
		max-width: 100%;
		max-height: 100%;
	}
}
.slideshow-1{
	.cycle-prev{
		position: absolute;
		top: 10px;
		left: 10px;
		bottom: 10px;
		width: 50%;
		z-index: 999;
		div{
			width: 65px;
			height: 100%;
			@include opacity(0);
			@include transition (opacity 400ms ease-out);
			background: #fff;
		}
		i{
			position: absolute;
			top: 50%;
			left: 24px;
			margin-top: -49px;
			@include s($icons, slide-prev);
		}
		&:hover{
			div{
				@include opacity(.7);
			}
		}
	}
	.cycle-next{
		position: absolute;
		top: 10px;
		right: 10px;
		bottom: 10px;
		width: 50%;
		z-index: 999;
		i{
			position: absolute;
			top: 50%;
			right: 24px;
			margin-top: -49px;
			@include s($icons, slide-next);
		}
		div{
			float: right;
			width: 65px;
			height: 100%;
			@include opacity(0);
			@include transition (opacity 400ms ease-out);
			background: #fff;
		}
		&:hover{
			div{
				@include opacity(.7);
			}
		}
	}
}	
.photo-gallery__preview{
	margin-left: -7px;
	height: 106px;
}
.photo-gallery__preview-item{
	position: relative;
	width: 201px!important;
	height: 102px;
	margin-left: 7px;
	margin-top: 2px;
	@include b(border-box);
	border: 1px solid #51535e;
	@include respond-to(1680){
		width: 180px!important;
	}
	@include respond-to(1400){
		width: 158px!important;
	}
	@include respond-to(1280){
			width: 147px!important;
		}
	img{
		width: 100%;
		height: 100%;
	}
	.dark-bg{
		position: absolute;
		width: 199px;
		height: 101px;
		background: rgba(0,0,0,.3);
		@include respond-to(1680){
			width: 179px!important;
		}
		@include respond-to(1400){
			width: 157px!important;
		}
		@include respond-to(1280){
			width: 146px!important;
		}
	}
}
.slideshow-2{
	position: relative;
	padding: 18px 16px 18px 17px;
	.cycle-prev{
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: 16px;
		z-index: 999;
		i{
			position: absolute;
			top: 50%;
			left: 0px;
			margin-top: -6px;
			@include s($icons, slide-prev-small);
		}
	}
	.cycle-next{
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 16px;
		z-index: 999;
		i{
			position: absolute;
			top: 50%;
			right: 0px;
			margin-top: -6px;
			@include s($icons, slide-next-small);
		}
	}
	.photo-gallery__preview-item.cycle-slide-active{
		border: 1px solid #48c4fe;
		@include box-shadow(0 0 0 2px #48c4fe);
		.dark-bg{
			display: none;
		}
	}
}
.js-slide-rooms_mod{
	position: absolute;
	margin-top: -50px;
} 