// css styles for print version

.login, .registration, .footer__content, .note__submit{
	display: none;
}
.l-room{
	.title{
		display: none;
	}
	.navigation{
		display: none;
	}
	.note__date{
		display: none;
	}
}
.room__info{
	margin-top: 18px;
}
.l-note{
	background: #fff;
	box-shadow: none;
	.clip{
		display: none;
	}
	.note__page1{
		display: none;
	}
	.note__page2{
		display: none;
	}
	.note{
		padding: 0 2% 0;
		border: none;
		box-shadow: none;
	}
	.room__id{
		display: none;
	}
	.room__img{
		width: 100%;
		float: none;
		height: 400px;
		margin: 0;
	}
	.room__preview{
		float: none;
		width: 100%;
		margin: 25px 0 0;
		padding: 0 2%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.room__route{
	p{
		margin-top: 20px;
	}
}
.thanks{
	margin: 20px 0 0;
}
.l-layout{
	margin: 0 auto -54px;
}
.push{
	height: 54px;
}
.footer{
	height: 54px;
}
.copyright{
	position: absolute;
	left: 50%;
	top: 4px;
	margin-left: -223px;
}
