@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1000px; font-family: "Roboto", sans-serif; font-size: 12px; line-height: 1.4; background: url(../img/bg.jpg); }

.out { margin: 0 auto -204px; min-height: 100%; height: auto !important; height: 100%; }

.push { height: 204px; }

.header { height: 55px; margin-bottom: 19px; background: #51535e; }
.header__in { max-width: 1080px; min-width: 1000px; margin: 0 auto; *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header__tools { float: right; line-height: 55px; }
.header__tools .btn { vertical-align: middle; margin-left: 15px; }
.header__phone { position: relative; display: inline-block; vertical-align: middle; margin-left: 15px; padding-left: 26px; font-weight: bold; font-size: 16px; color: #fefefe; }
.header__phone:before { content: ""; position: absolute; top: 18px; left: 0; background: url('../img/icons-sbe71321369.png') 0 -636px no-repeat; width: 18px; height: 18px; }
.header__favorites { position: relative; display: inline-block; vertical-align: middle; padding: 0 11px 0 35px; height: 28px; line-height: 26px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 3px; border: 1px solid #118996; box-shadow: 0 2px 1px #2d2e32; background: #45c2fe; background-image: -moz-linear-gradient(#84dcea, #45c2fe); background-image: -webkit-linear-gradient(#84dcea, #45c2fe); background-image: linear-gradient(#84dcea, #45c2fe); text-decoration: none; color: white; -moz-transition: all 150ms; -o-transition: all 150ms; -webkit-transition: all 150ms; transition: all 150ms; }
.header__favorites:before { content: ""; position: absolute; top: 7px; left: 10px; background: url('../img/icons-sbe71321369.png') 0 -444px no-repeat; width: 15px; height: 13px; }
.header__favorites:hover { background: #41b3ea; background-image: -moz-linear-gradient(#75c6d3, #41b3ea); background-image: -webkit-linear-gradient(#75c6d3, #41b3ea); background-image: linear-gradient(#75c6d3, #41b3ea); }
.header__favorites:active { -moz-transform: translateY(1px); -ms-transform: translateY(1px); -webkit-transform: translateY(1px); transform: translateY(1px); box-shadow: none; }

.logo { float: left; line-height: 55px; }
.logo a { display: inline-block; vertical-align: middle; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-sbe71321369.png') 0 -507px no-repeat; width: 122px; height: 29px; }

.btn { position: relative; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 28px; line-height: 28px; padding: 0 15px; border-radius: 3px; border: 1px solid #2d2e32; box-shadow: 0 2px 1px #2d2e32; background: white; text-align: center; font-size: 11px; color: #51535e; text-transform: uppercase; -moz-transition: all 150ms; -o-transition: all 150ms; -webkit-transition: all 150ms; transition: all 150ms; }
.btn:hover { background: #e6e6e6; }
.btn:active { -moz-transform: translateY(1px); -ms-transform: translateY(1px); -webkit-transform: translateY(1px); transform: translateY(1px); box-shadow: none; }
.btn.btn_gray { background: #5a5c65; color: #efeded; }
.btn.btn_gray:hover { background: #6b6d76; }

.button { display: inline-block; vertical-align: middle; height: 28px; line-height: 28px; width: 118px; margin-left: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 3px; border: 1px solid #6d4b1f; text-align: center; font-weight: 500; font-size: 10px; text-transform: uppercase; color: #884e03; background: #ed8b09; box-shadow: inset 0px 1px 1px #f8d09a, 0 2px 1px #2d2e32; -moz-transition: all 150ms; -o-transition: all 150ms; -webkit-transition: all 150ms; transition: all 150ms; }
.button:hover { background: #fd950c; }
.button:active { -moz-transform: translateY(1px); -ms-transform: translateY(1px); -webkit-transform: translateY(1px); transform: translateY(1px); box-shadow: inset 0px 1px 1px #f8d09a; }
.button.button_search { width: 245px; height: 45px; border-radius: 5px; color: white; text-shadow: 1px 1px 1px #51535e, 2px 1px 0 #efc997; font-size: 18px; }

.footer { position: relative; height: 204px; background: #2c2d33; }
.footer__in { height: 149px; max-width: 830px; margin: 0 auto; }
.footer__in > ul { width: 33.3%; padding-top: 15px; float: left; }
.footer__in > ul li { margin-bottom: 5px; }
.footer__in > ul li a { font-size: 10px; text-transform: uppercase; text-decoration: none; color: white; }
.footer__in > ul li a:hover { text-decoration: underline; }
.footer__bottom { height: 55px; background: #51535e; padding: 0 30px; }
.footer__socials { position: absolute; top: 40px; right: 47px; }
.footer__socials ul { *zoom: 1; }
.footer__socials ul:after { content: " "; display: table; clear: both; }
.footer__socials ul li { float: left; margin-left: 24px; }
.footer__socials ul li a { display: block; }
.footer__socials ul li a.f { background: url('../img/icons-sbe71321369.png') 0 -353px no-repeat; width: 11px; height: 24px; }
.footer__socials ul li a.tw { background: url('../img/icons-sbe71321369.png') 0 -724px no-repeat; width: 17px; height: 23px; }
.footer__socials ul li a.vk { background: url('../img/icons-sbe71321369.png') 0 -757px no-repeat; width: 17px; height: 23px; }

.radio { position: relative; display: inline-block; }
.radio input { position: absolute; opacity: 0; }
.radio input + span { position: relative; display: inline-block; padding-left: 28px; font-size: 14px; color: #51535e; }
.radio input + span:before { content: ""; position: absolute; top: 0; left: 0; width: 16px; height: 16px; border-radius: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #7cd6f5; -moz-box-shadow: 0 1px 2px #d4d4d4; -webkit-box-shadow: 0 1px 2px #d4d4d4; box-shadow: 0 1px 2px #d4d4d4; }
.radio input:checked + span:after { content: ""; position: absolute; top: 4px; left: 4px; width: 8px; height: 8px; border-radius: 50%; background: #3dacb7; background-image: -moz-linear-gradient(#3a838c, #6dc8d0); background-image: -webkit-linear-gradient(#3a838c, #6dc8d0); background-image: linear-gradient(#3a838c, #6dc8d0); }

.checkbox { position: relative; display: block; }
.checkbox input { position: absolute; opacity: 0; }
.checkbox input + span { position: relative; display: inline-block; padding-left: 28px; font-size: 14px; color: #51535e; }
.checkbox input + span:before { content: ""; position: absolute; top: 4px; left: 0; width: 16px; height: 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #7cd6f5; -moz-box-shadow: 0 1px 2px #d4d4d4; -webkit-box-shadow: 0 1px 2px #d4d4d4; box-shadow: 0 1px 2px #d4d4d4; }
.checkbox input:checked + span:after { content: ""; position: absolute; top: 7px; left: 3px; width: 10px; height: 10px; background: #3dacb7; background-image: -moz-linear-gradient(#3a838c, #6dc8d0); background-image: -webkit-linear-gradient(#3a838c, #6dc8d0); background-image: linear-gradient(#3a838c, #6dc8d0); }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.topper { background: #46a1ba; }
.topper__in { max-width: 1080px; min-width: 1000px; margin: 0 auto; height: 68px; }
.topper__tools .button { float: right; margin-top: 11px; }
@media only screen and (max-width: 1080px) { .topper__tools .button { width: 225px; } }

.filter-city { float: left; position: relative; width: 245px; margin-top: 13px; margin-right: 5.5%; }
@media only screen and (max-width: 1060px) { .filter-city { margin-right: 3.5%; } }
.filter-city.filter-city_small { width: 145px; margin-right: 0; }
.filter-city.filter-city_small i:before { top: 8px; background: url('../img/icons-sbe71321369.png') 0 -387px no-repeat; width: 34px; height: 24px; }
.filter-city__text { position: relative; display: block; height: 40px; line-height: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 5px 0 68px; border-radius: 5px; background: #ebebf1; -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34), inset 0 -1px 1px #9dc8d6; -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34), inset 0 -1px 1px #9dc8d6; box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34), inset 0 -1px 1px #9dc8d6; background-image: -moz-linear-gradient(#e5e6ed, #eeeff3); background-image: -webkit-linear-gradient(#e5e6ed, #eeeff3); background-image: linear-gradient(#e5e6ed, #eeeff3); font-family: "Roboto Slab", serif; font-size: 16px; color: #5a5c64; cursor: pointer; }
.filter-city i { position: absolute; top: 0; left: 0; height: 39px; width: 52px; border-radius: 5px 0 0 5px; border: 1px solid #0094a2; background-image: -moz-linear-gradient(#60e1fa, #44c0fe); background-image: -webkit-linear-gradient(#60e1fa, #44c0fe); background-image: linear-gradient(#60e1fa, #44c0fe); }
.filter-city i:before { content: ""; position: absolute; top: 7px; left: 12px; background: url('../img/icons-sbe71321369.png') 0 -249px no-repeat; width: 25px; height: 26px; }
.filter-city__list { position: absolute; top: 40px; left: 54px; right: 0; background: #ebebf1; border: 1px solid #969696; border-radius: 5px; z-index: 9; }
.filter-city__list li a { display: block; height: 40px; padding: 0 10px; font: 16px/40px "Roboto Slab", sans-serif; color: #5a5c64; text-decoration: none; cursor: pointer; }
.filter-city__list li a:hover { background: #c5c7d7; color: #424349; }
.filter-city__list li:first-child a { border-radius: 5px 5px 0 0; }
.filter-city__list li:last-child a { border-radius: 0 0 5px 5px; }
.filter-city select { visibility: hidden; }

.filter-date { float: left; margin-right: 15px; position: relative; width: 145px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 53px; margin-top: 13px; height: 40px; }
.filter-date__title { position: absolute; top: 0; left: 0; height: 39px; width: 52px; border-radius: 5px 0 0 5px; border: 1px solid #0094a2; background-image: -moz-linear-gradient(#60e1fa, #44c0fe); background-image: -webkit-linear-gradient(#60e1fa, #44c0fe); background-image: linear-gradient(#60e1fa, #44c0fe); }
.filter-date__title:before { content: ""; position: absolute; top: 4px; left: 12px; background: url('../img/icons-sbe71321369.png') 0 -128px no-repeat; width: 27px; height: 30px; }
.calendar-from_to .filter-date__title:before { top: 2px; background: url('../img/icons-sbe71321369.png') 0 -168px no-repeat; width: 27px; height: 31px; }
.filter-date .filter-date__datepicker-from, .filter-date .filter-date__datepicker-to { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; height: 40px; border-radius: 0 5px 5px 0; background: #ebebf1; -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34), inset 0 -1px 1px #9dc8d6; -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34), inset 0 -1px 1px #9dc8d6; box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34), inset 0 -1px 1px #9dc8d6; background-image: -moz-linear-gradient(#e5e6ed, #eeeff3); background-image: -webkit-linear-gradient(#e5e6ed, #eeeff3); background-image: linear-gradient(#e5e6ed, #eeeff3); font-family: "Roboto Slab", serif; text-align: center; font-size: 16px; color: #5a5c64; cursor: pointer; }
.filter-date .filter-date__datepicker-from:-ms-input-placeholder, .filter-date .filter-date__datepicker-to:-ms-input-placeholder { color: #5a5c64; }
.filter-date .filter-date__datepicker-from:-moz-placeholder, .filter-date .filter-date__datepicker-to:-moz-placeholder { color: #5a5c64; }
.filter-date .filter-date__datepicker-from::-moz-placeholder, .filter-date .filter-date__datepicker-to::-moz-placeholder { color: #5a5c64; }
.filter-date .filter-date__datepicker-from::-webkit-input-placeholder, .filter-date .filter-date__datepicker-to::-webkit-input-placeholder { color: #5a5c64; }
.filter-date .filter-date__datepicker-from::placeholder, .filter-date .filter-date__datepicker-to::placeholder { color: #5a5c64; }
.filter-date__value { opacity: 0; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 100%; cursor: pointer; }

.breadcrumbs { max-width: 1080px; min-width: 1000px; margin: 0 auto; height: 58px; padding: 0 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.breadcrumbs ul { *zoom: 1; padding-top: 18px; }
.breadcrumbs ul:after { content: " "; display: table; clear: both; }
.breadcrumbs ul li { position: relative; float: left; }
.breadcrumbs ul li a { text-decoration: none; color: #51535e; font-size: 16px; }
.breadcrumbs ul li a:before { content: "/"; display: inline-block; margin: 0 2px; }
.breadcrumbs ul li a:hover { text-decoration: underline; }
.breadcrumbs ul li:first-child a:before { content: ""; }

.container { max-width: 1080px; min-width: 1000px; margin: 0 auto; background: white; -moz-box-shadow: 0 0 4px #a4a5aa; -webkit-box-shadow: 0 0 4px #a4a5aa; box-shadow: 0 0 4px #a4a5aa; }

.search__topper { *zoom: 1; height: 88px; line-height: 88px; border-bottom: 1px solid #d0d0d0; }
.search__topper:after { content: " "; display: table; clear: both; }
.search__title { float: left; width: 290px; height: 88px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 20px; line-height: 1.2; font-weight: bold; color: #14b8d0; font-size: 16px; }
.search__title:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.search__title span { display: inline-block; vertical-align: middle; }
.search__view { float: left; overflow: hidden; margin: 27px 24px 0; border-radius: 4px; }
.search__view li { position: relative; float: left; }
.search__view li:before { content: ""; position: absolute; top: 2px; bottom: 2px; left: 0; width: 1px; background: #91918f; -moz-box-shadow: -1px 0 1px #91918f; -webkit-box-shadow: -1px 0 1px #91918f; box-shadow: -1px 0 1px #91918f; z-index: 2; }
.search__view li:first-child:before { display: none; }
.search__view li a { position: relative; display: block; height: 35px; line-height: 35px; padding: 0 15px 0 40px; border-radius: 4px; background-image: -moz-linear-gradient(#eaebf0, #c8c9cc); background-image: -webkit-linear-gradient(#eaebf0, #c8c9cc); background-image: linear-gradient(#eaebf0, #c8c9cc); text-decoration: none; font-size: 12px; color: #9fa0a3; }
.search__view li a.search__list:before { content: ""; position: absolute; top: 13px; left: 13px; background: url('../img/icons-sbe71321369.png') 0 -487px no-repeat; width: 15px; height: 10px; }
.search__view li a.search__cards:before { content: ""; position: absolute; top: 13px; left: 13px; background: url('../img/icons-sbe71321369.png') 0 -229px no-repeat; width: 10px; height: 10px; }
.search__view li a.search__map:before { content: ""; position: absolute; top: 11px; left: 13px; background: url('../img/icons-sbe71321369.png') 0 -571px no-repeat; width: 17px; height: 15px; }
.search__view li a.is-active { background-image: -moz-linear-gradient(#e6e7ee, #eaebf0); background-image: -webkit-linear-gradient(#e6e7ee, #eaebf0); background-image: linear-gradient(#e6e7ee, #eaebf0); border-radius: 0; margin: 0 -1px; color: #14b8d0; font-weight: bold; -moz-box-shadow: inset 0 2px 6px #a4a5aa; -webkit-box-shadow: inset 0 2px 6px #a4a5aa; box-shadow: inset 0 2px 6px #a4a5aa; }
.search__view li a.is-active.search__list:before { background: url('../img/icons-sbe71321369.png') 0 -467px no-repeat; width: 15px; height: 10px; }
.search__view li a.is-active.search__cards:before { background: url('../img/icons-sbe71321369.png') 0 -209px no-repeat; width: 10px; height: 10px; }
.search__view li a.is-active.search__map:before { background: url('../img/icons-sbe71321369.png') 0 -546px no-repeat; width: 17px; height: 15px; }

.sortby { float: right; margin-right: 17px; }
.sortby__title { display: inline-block; vertical-align: middle; color: #919191; font-weight: bold; font-size: 14px; margin-right: 15px; }

.select { display: inline-block; vertical-align: middle; position: relative; width: 190px; height: 34px; line-height: 34px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; background: #ebebf1; -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); background-image: -moz-linear-gradient(#e5e6ed, #f0f1f5); background-image: -webkit-linear-gradient(#e5e6ed, #f0f1f5); background-image: linear-gradient(#e5e6ed, #f0f1f5); }
.select select { visibility: hidden; }
.select i { position: absolute; top: 14px; right: 11px; background: url('../img/icons-sbe71321369.png') 0 -707px no-repeat; width: 14px; height: 7px; }
.select__text { position: absolute; top: 0; bottom: 0; left: 0; right: 0; border-radius: 4px; padding: 0 30px 0 13px; font-size: 12px; color: #919191; cursor: pointer; }
.select__list { position: absolute; top: 36px; left: 0; right: 0; border-radius: 5px; background: #ebebf1; z-index: 102; }
.select__list li a { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 13px; text-decoration: none; font-size: 12px; color: #919191; }
.select__list li a:hover { background: #c5c7d7; }
.select__list li:first-child a { border-radius: 5px 5px 0 0; }
.select__list li:last-child a { border-radius: 0 0 5px 5px; }

.content { *zoom: 1; }
.content:after { content: " "; display: table; clear: both; }
.content__in { float: right; width: 790px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.item-wrap { display: table; width: 100%; font-size: 0; margin-top: -1px; border-collapse: collapse; }
.item-wrap:first-child { margin-top: -1px; }
.item-wrap:first-child .item { border-top: none; }

.item { display: table-cell; vertical-align: top; width: 264px; height: 340px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 9px; border: 1px solid #d0d0d0; }
.item__img { font-size: 0; margin-bottom: 9px; }
.item__adress { font-size: 14px; color: #00a1cb; margin-bottom: 5px; }
.item__favorite { position: relative; display: inline-block; padding-left: 23px; margin-bottom: 3px; font-size: 12px; color: #47b5cf; }
.item__favorite:hover { text-decoration: none; }
.item__favorite:before { content: ""; position: absolute; top: 3px; left: 0; background: url('../img/icons-sbe71321369.png') 0 -421px no-repeat; width: 14px; height: 13px; }
.item__metro { position: relative; margin-bottom: 5px; padding-left: 20px; font-size: 11px; color: #51535e; }
.item__metro:before { content: ""; position: absolute; top: 3px; left: 0px; background: url('../img/icons-sbe71321369.png') 0 -596px no-repeat; width: 14px; height: 10px; }
.item__price { margin-bottom: 10px; font-size: 16px; color: #2c2d33; }
.item__price strong { font-size: 29px; font-weight: bold; }
.item__places { font-size: 0; color: #51535e; font-weight: 300; }
.item__places li { display: inline-block; margin-left: 20px; font-size: 11px; }
.item__places li:first-child { margin-left: 0; }
.item__places strong { font-size: 11px; }
.item__bottom { text-align: center; font-size: 0; }
.item__bottom .button { width: 165px; height: 32px; margin-left: 0; margin-bottom: 5px; color: white; border-color: #c09153; font-size: 16px; }
.item__bottom a { font-size: 11px; color: #e18408; }
.item__bottom a:hover { text-decoration: none; }

.load-more { padding: 11px 0; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid #d0d0d0; }
.load-more p { margin-bottom: 11px; font-weight: 300; font-size: 12px; color: #5a5c65; }

.seo-text { border-top: 1px solid #d0d0d0; padding-bottom: 45px; }
.seo-text__title { margin: 20px 0; text-align: center; font-size: 18px; color: #2c2d33; text-transform: uppercase; }
.seo-text p { width: 80%; margin: 0 auto; font-size: 10px; text-transform: uppercase; color: #2c2d33; }

.filters { max-width: 290px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 25px; -moz-box-shadow: 1px 0 0 #d0d0d0; -webkit-box-shadow: 1px 0 0 #d0d0d0; box-shadow: 1px 0 0 #d0d0d0; }
@media only screen and (max-width: 1080px) { .filters { padding: 10px; } }
.filters__title { position: relative; display: inline-block; margin-bottom: 20px; font-size: 18px; text-transform: uppercase; color: #51535e; }
.filters__more { font-size: 14px; color: #55d3fc; }
.filters__more:hover { text-decoration: none; }

.filter { font-size: 0; margin-bottom: 25px; }
.filter__title { font-size: 14px; color: #51535e; font-weight: bold; margin-bottom: 15px; }
.filter .radio { width: 50%; margin-bottom: 15px; }
.filter .checkbox { margin-bottom: 13px; }
.filter .select.select_guests { width: 50px; }
.filter .select.select_metro { width: 150px; }

.price-slider__values { *zoom: 1; margin-bottom: 9px; }
.price-slider__values:after { content: " "; display: table; clear: both; }
.price-slider .price-slider__value-min, .price-slider .price-slider__value-max { float: left; width: 80px; height: 35px; line-height: 34px; border-radius: 4px; background: #ebecf1; background-image: -moz-linear-gradient(#e3e4ea, #f2f2f5); background-image: -webkit-linear-gradient(#e3e4ea, #f2f2f5); background-image: linear-gradient(#e3e4ea, #f2f2f5); -moz-box-shadow: inset 0 1px 3px #acacb2; -webkit-box-shadow: inset 0 1px 3px #acacb2; box-shadow: inset 0 1px 3px #acacb2; text-align: center; font-weight: 900; font-size: 11px; }
.price-slider .price-slider__value-min span, .price-slider .price-slider__value-min input, .price-slider .price-slider__value-max span, .price-slider .price-slider__value-max input { display: inline-block; vertical-align: middle; }
.price-slider .price-slider__value-min input, .price-slider .price-slider__value-max input { max-width: 40px; background: transparent; text-align: center; font-family: "Roboto", sans-serif; font-weight: 900; font-size: 11px; line-height: 34px; }
.price-slider .price-slider__value-max { float: right; }
.price-slider__range { position: relative; height: 3px; background: #2c2d33; border-radius: 2px; border: 1px solid #ababad; }

.ui-slider-range { position: absolute; top: -1px; left: -3px; right: 3px; height: 3px; border-radius: 2px; border: 1px solid #cdc468; background: #ffea01; }

.ui-slider-handle { position: absolute; z-index: 2; top: -4px; margin-left: -5px; width: 10px; height: 10px; border-radius: 50%; border: 1px solid #16a2bc; background: #4fccfd; background-image: -moz-linear-gradient(#8ee8fb, #47c4fe); background-image: -webkit-linear-gradient(#8ee8fb, #47c4fe); background-image: linear-gradient(#8ee8fb, #47c4fe); }
.ui-slider-handle.ui-state-active { background: #4fccfd; background-image: -moz-linear-gradient(#8ee8fb, #47c4fe); background-image: -webkit-linear-gradient(#8ee8fb, #47c4fe); background-image: linear-gradient(#8ee8fb, #47c4fe); }

.filter-metro { position: relative; height: 35px; padding: 0 40px 0 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; background: #ebebf1; -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); background-image: -moz-linear-gradient(#e5e6ed, #f0f1f5); background-image: -webkit-linear-gradient(#e5e6ed, #f0f1f5); background-image: linear-gradient(#e5e6ed, #f0f1f5); font-size: 11px; font-family: "Roboto", sans-serif; }
.filter-metro:before { content: ""; position: absolute; top: 11px; right: 13px; background: url('../img/icons-sbe71321369.png') 0 -664px no-repeat; width: 12px; height: 13px; }

.filter__spinner { display: inline-block; vertical-align: middle; width: 110px; margin-right: 10px; }
.filter__spinner.guests .ui-spinner:before { content: "гостей"; position: absolute; top: 10px; color: #5a5c64; left: 25px; font-family: "Roboto", sans-serif; font-size: 12px; }
.filter__spinner.beds .ui-spinner:before { content: "кровать"; position: absolute; top: 10px; left: 25px; color: #5a5c64; font-family: "Roboto", sans-serif; font-size: 12px; }

.ui-spinner { position: relative; display: block; height: 35px !important; border-radius: 4px; background: #ebebf1; -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.34); background-image: -moz-linear-gradient(#e5e6ed, #f0f1f5); background-image: -webkit-linear-gradient(#e5e6ed, #f0f1f5); background-image: linear-gradient(#e5e6ed, #f0f1f5); }
.ui-spinner input { background: transparent; width: 75px; height: 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; font-family: "Roboto", sans-serif; color: #5a5c64; font-size: 12px; }

.ui-spinner-button { position: absolute; top: 0; right: 0; width: 35px; height: 17px; border-radius: 4px; background: #dedede; cursor: pointer; }
.ui-spinner-button.ui-spinner-up { box-shadow: 0 4px 2px -3px #8a8986; }
.ui-spinner-button.ui-spinner-up:before { content: "+"; position: absolute; top: 0; left: 16px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 900; color: #5a5c64; z-index: 2; }
.ui-spinner-button.ui-spinner-down { top: 18px; }
.ui-spinner-button.ui-spinner-down:before { content: "-"; position: absolute; top: 0; left: 16px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 900; color: #5a5c64; z-index: 2; }

.list-wrap { margin-top: -1px; }

.list-item { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 25px; *zoom: 1; border-left: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; }
.list-item:after { content: " "; display: table; clear: both; }
.list-item__img { width: 193px; float: left; margin-right: 10px; font-size: 0; width: 193px; }
.list-item__img img { width: 100%; }
.list-item__checkout { float: right; width: 165px; margin-left: 10px; }
.list-item__checkout .button { width: 165px; height: 32px; margin-left: 0; margin-bottom: 5px; color: white; border-color: #c09153; font-size: 16px; }
.list-item__price { margin-bottom: 5px; font-size: 16px; color: #2c2d33; text-align: right; }
.list-item__price strong { font-weight: bold; display: block; font-size: 29px; line-height: 1.2; }
.list-item__link { text-align: center; }
.list-item__link a { font-size: 11px; color: #e18408; }
.list-item__link a:hover { text-decoration: none; }
.list-item__info { overflow: hidden; }
.list-item__adress { font-size: 16px; color: #00a1cb; font-weight: bold; }
.list-item__tools { font-size: 0; margin-bottom: 10px; }
.list-item__tools a { position: relative; display: inline-block; vertical-align: middle; margin-right: 23px; padding-left: 23px; font-size: 12px; color: #47b5cf; }
.list-item__tools a:hover { text-decoration: none; }
.list-item__favorite:before { content: ""; position: absolute; top: 3px; left: 0; background: url('../img/icons-sbe71321369.png') 0 -421px no-repeat; width: 14px; height: 13px; }
.list-item__map:before { content: ""; position: absolute; top: 1px; left: 0; background: url('../img/icons-sbe71321369.png') 0 -571px no-repeat; width: 17px; height: 15px; }
.list-item__metro { position: relative; padding-left: 19px; font-size: 12px; color: #51535e; }
.list-item__metro:before { content: ""; position: absolute; top: 3px; left: 0; background: url('../img/icons-sbe71321369.png') 0 -596px no-repeat; width: 14px; height: 10px; }

.list-item__rooms, .list-item__places { margin-top: 10px; font-size: 12px; color: #51535e; }
.list-item__rooms strong, .list-item__places strong { font-weight: bold; }

.map-wrap { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid #d0d0d0; }

.map { position: relative; height: 1000px; }

#YMapsID { width: 100%; height: 100%; overflow: hidden; }

.map-flat { position: relative; width: 224px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 15px; border: 1px solid #b4afa7; border-radius: 15px; background: white; }
.map-flat__close { position: absolute; top: -17px; right: -17px; border-radius: 50%; background: url('../img/icons-sbe71321369.png') 0 -314px no-repeat; width: 29px; height: 29px; -moz-box-shadow: 0 0 1px #b4afa7; -webkit-box-shadow: 0 0 1px #b4afa7; box-shadow: 0 0 1px #b4afa7; cursor: pointer; }
.map-flat__item { border-top: 1px solid #cfcfce; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; padding: 12px; }
.map-flat__item:after { content: " "; display: table; clear: both; }
.map-flat__item:first-child { border-top: none; }
.map-flat__img { float: left; font-size: 0; width: 193px; }
.map-flat__img img { width: 100%; }
.map-flat__info { float: right; width: 165px; }
.map-flat__info .item__adress, .map-flat__info .item__metro, .map-flat__info .item__price { margin-bottom: 0; }
.map-flat.map-flat_multi { width: 436px; padding: 0; }

.bb-custom-wrapper { position: relative; }
.bb-custom-wrapper > nav { position: absolute; top: 0; bottom: 0; right: 0; left: 0; z-index: 101; }

.bb-nav-prev { position: absolute; top: 0; left: 0; bottom: 0; width: 50%; }
.bb-nav-prev:before { content: ""; position: absolute; top: 50%; left: 5px; margin-top: -12px; background: url('../img/icons-sbe71321369.png') 0 0 no-repeat; width: 11px; height: 22px; z-index: 100; }
.bb-nav-prev:hover:before { background: url('../img/icons-sbe71321369.png') 0 -32px no-repeat; width: 11px; height: 24px; }

.bb-nav-next { position: absolute; top: 0; right: 0; bottom: 0; width: 50%; }
.bb-nav-next:before { content: ""; position: absolute; top: 50%; right: 5px; margin-top: -12px; background: url('../img/icons-sbe71321369.png') 0 -66px no-repeat; width: 11px; height: 20px; z-index: 100; }
.bb-nav-next:hover:before { background: url('../img/icons-sbe71321369.png') 0 -96px no-repeat; width: 11px; height: 22px; }

.ui-datepicker { display: none; width: 293px; margin-top: 5px; border-radius: 6px 6px 0 0; *zoom: 1; z-index: 100 !important; }
.ui-datepicker:after { content: " "; display: table; clear: both; }

.ui-datepicker-header { position: relative; height: 36px; border-radius: 6px 6px 0 0; background: #e1e6ea; }

.ui-datepicker-prev { position: absolute; top: 5px; left: 5px; width: 25px; height: 26px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.ui-datepicker-prev span { position: absolute; top: 50%; right: 10px; margin-top: -5px; background: url('../img/icons-sbe71321369.png') 0 -687px no-repeat; width: 8px; height: 10px; font: 0/0 a; text-shadow: none; color: transparent; }

.ui-datepicker-next { position: absolute; top: 5px; right: 5px; width: 25px; height: 26px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.ui-datepicker-next span { position: absolute; top: 50%; left: 10px; margin-top: -5px; background: url('../img/icons-sbe71321369.png') 0 -616px no-repeat; width: 7px; height: 10px; font: 0/0 a; text-shadow: none; color: transparent; }

.ui-datepicker-title { height: 36px; line-height: 36px; text-align: center; text-transform: uppercase; font-weight: bold; color: #51535e; }

.ui-datepicker-calendar { width: 293px; background: white; }
.ui-datepicker-calendar thead { display: none; }
.ui-datepicker-calendar td { width: 39px; height: 39px; text-align: center; vertical-align: middle; border: 1px solid #cfd4d8; font-size: 16px; }
.ui-datepicker-calendar td a { position: relative; display: block; height: 100%; width: 100%; line-height: 40px; font-weight: bold; color: #51535e; text-decoration: none; }
.ui-datepicker-calendar td a:hover { background: #e6e6e6; }

td.ui-datepicker-unselectable { color: #cecfd4; }

td.ui-datepicker-current-day { background: #ffea01; color: black; }
td.ui-datepicker-current-day a { background: inherit; }
td.ui-datepicker-current-day a:hover { background: inherit; }
td.ui-datepicker-current-day:hover { background: #ffea01; }

.ui-state-active { background: #ffea01; }
