//mixins
=roboto
	font-family: 'Roboto', sans-serif
=roboto-s
	font-family: 'Roboto Slab', serif	

body
	min-width: 1000px
	+roboto
	font-size: 12px 
	line-height: 1.4
	background: url(../img/bg.jpg) 
=wrap
	max-width: 1080px
	min-width: 1000px
	margin: 0 auto

// common blocks      
.out
	margin: 0 auto -204px
	min-height: 100%
	height: auto !important
	height: 100%
.push
	height: 204px 	

// header
.header
	height: 55px
	margin-bottom: 19px
	background: #51535e
	&__in
		+wrap
		+clr
	&__tools
		float: right
		line-height: 55px
		.btn
			vertical-align: middle
			margin-left: 15px
	&__phone
		position: relative
		display: inline-block
		vertical-align: middle
		margin-left: 15px 
		padding-left: 26px
		font-weight: bold
		font-size: 16px
		color: #fefefe
		&:before
			content: ""
			position: absolute
			top: 18px
			left: 0
			+s(phone)
	&__favorites
		position: relative
		display: inline-block
		vertical-align: middle
		padding: 0 11px 0 35px 
		height: 28px
		line-height: 26px
		+box
		border-radius: 3px
		border: 1px solid #118996
		box-shadow: 0 2px 1px #2d2e32
		background: #45c2fe 
		+g(#84dcea, #45c2fe)
		text-decoration: none
		color: #fff
		+tr(all 150ms)
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 10px
			+s(heart)
		&:hover
			background: #41B3EA 
			+g(#75c6d3, #41b3ea)
		&:active
			+transform(translateY(1px))
			box-shadow: none			  		
.logo
	float: left
	line-height: 55px
	a
		display: inline-block
		vertical-align: middle
		+hide-text
		+s(logo)
.btn
	position: relative
	display: inline-block
	+box
	height: 28px
	line-height: 28px 
	padding: 0 15px 
	border-radius: 3px
	border: 1px solid #2d2e32
	box-shadow: 0 2px 1px #2d2e32
	background: #fff
	text-align: center
	font-size: 11px
	color: #51535e
	text-transform: uppercase
	+tr(all 150ms)
	&:hover
		background: darken(#fff, 10%) 
	&:active
		+transform(translateY(1px))
		box-shadow: none
	&.btn_gray
		background: #5a5c65
		color: #efeded
		&:hover
			background: #6b6d76 	
.button
	display: inline-block
	vertical-align: middle
	height: 28px
	line-height: 28px
	width: 118px
	margin-left: 15px
	+box
	border-radius: 3px
	border: 1px solid #6d4b1f
	text-align: center
	font-weight: 500
	font-size: 10px
	text-transform: uppercase
	color: #884e03
	background: #ed8b09
	box-shadow: inset 0px 1px 1px #f8d09a, 0 2px 1px #2d2e32			 	
	+tr(all 150ms)
	&:hover
		background: #fd950c 
	&:active
		+transform(translateY(1px))
		box-shadow: inset 0px 1px 1px #f8d09a
	&.button_search
		width: 245px
		height: 45px
		border-radius: 5px
		color: #fff
		+text-shadow(1px 1px 1px #51535e, 2px 1px 0 #efc997)
		font-size: 18px   	 

// footer			
.footer
	position: relative
	height: 204px
	background: #2c2d33 
	&__in
		height: 149px
		max-width: 830px
		margin: 0 auto
		& > ul
			width: 33.3%
			padding-top: 15px
			float: left
			li
				margin-bottom: 5px
				a
					font-size: 10px
					text-transform: uppercase
					text-decoration: none
					color: #fff
					&:hover
						text-decoration: underline 
	&__bottom
		height: 55px
		background: #51535e
		padding: 0 30px
	&__socials
		position: absolute
		top: 40px
		right: 47px
		ul
			+clr
			li
				float: left
				margin-left: 24px
				a
					display: block
					&.f
						+s(f)
					&.tw
						+s(tw)
					&.vk
						+s(vk)
								
// radio
.radio
	position: relative
	display: inline-block
	input
		position: absolute
		opacity: 0
	input + span
		position: relative
		display: inline-block
		padding-left: 28px
		font-size: 14px
		color: #51535e
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 16px
			height: 16px
			border-radius: 50%
			+box
			border: 1px solid #7cd6f5
			+box-shadow(0 1px 2px #d4d4d4)
	input:checked + span
		&:after
			content: ""
			position: absolute
			top: 4px
			left: 4px
			width: 8px
			height: 8px
			border-radius: 50%
			background: #3dacb7
			+g(#3a838c, #6dc8d0)
// checkbox
.checkbox
	position: relative
	display: block
	input
		position: absolute
		opacity: 0
	input + span
		position: relative
		display: inline-block
		padding-left: 28px
		font-size: 14px
		color: #51535e
		&:before
			content: ""
			position: absolute
			top: 4px
			left: 0
			width: 16px
			height: 16px
			+box
			border: 1px solid #7cd6f5
			+box-shadow(0 1px 2px #d4d4d4)
	input:checked + span
		&:after
			content: ""
			position: absolute
			top: 7px
			left: 3px
			width: 10px
			height: 10px
			background: #3dacb7
			+g(#3a838c, #6dc8d0)
			 			 		 
		 









































































































