.ui-datepicker
    display: none
    width: 293px
    margin-top: 5px
    border-radius: 6px 6px 0 0
    +clr
    z-index: 100!important
.ui-datepicker-header
    position: relative
    height: 36px
    border-radius: 6px 6px 0 0
    background: #e1e6ea
.ui-datepicker-prev
    position: absolute
    top: 5px
    left: 5px
    width: 25px
    height: 26px
    +nosel
    span
        position: absolute
        top: 50%
        right: 10px
        margin-top: -5px
        +s(prev)
        +hide-text
.ui-datepicker-next
    position: absolute
    top: 5px
    right: 5px
    width: 25px
    height: 26px
    +nosel
    span
        position: absolute
        top: 50%
        left: 10px
        margin-top: -5px
        +s(next)
        +hide-text
.ui-datepicker-title
    height: 36px
    line-height: 36px
    text-align: center
    text-transform: uppercase
    font-weight: bold
    color: #51535e
.ui-datepicker-calendar
    width: 293px
    background: #fff
    thead
        display: none
    td
        width: 39px
        height: 39px
        text-align: center
        vertical-align: middle
        border: 1px solid #cfd4d8
        font-size: 16px
        a
            position: relative
            display: block
            height: 100%
            width: 100%
            line-height: 40px
            font-weight: bold
            color: #51535e
            text-decoration: none
            &:hover
                background: darken(#fff, 10%)
td.ui-datepicker-unselectable
    color: #cecfd4
td.ui-datepicker-current-day
    background: #ffea01
    color: #000
    a
        background: inherit
        &:hover
            background: inherit
    &:hover
        background: #ffea01           
.ui-state-active
    background: #ffea01
