// Normally mainpage styles
.topper
	background: #46a1ba
	&__in
		+wrap
		height: 68px
	&__tools
		.button
			float: right
			margin-top: 11px
			+r(1080)
				width: 225px	
.filter-city
	float: left
	position: relative
	width: 245px
	margin-top: 13px
	margin-right: 5.5%
	+r(1060)
		margin-right: 3.5%
	&.filter-city_small
		width: 145px
		margin-right: 0 
		i
			&:before
				top: 8px
				+s(guests-blue) 
	&__text
		position: relative
		display: block
		height: 40px
		line-height: 40px 
		+box
		padding: 0 5px 0 68px
		border-radius: 5px
		background: #ebebf1
		+box-shadow(inset 0 2px 3px rgba(0,0,0,.34), inset 0 -1px 1px #9dc8d6)
		+g(#e5e6ed, #eeeff3)
		+roboto-s
		font-size: 16px
		color: #5a5c64
		cursor: pointer
	i
		position: absolute
		top: 0
		left: 0
		height: 39px
		width: 52px
		border-radius: 5px 0 0 5px
		border: 1px solid #0094a2
		+g(#60e1fa, #44c0fe)
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 12px
			+s(city)
	&__list
		position: absolute
		top: 40px
		left: 54px
		right: 0
		background: #ebebf1
		border: 1px solid #969696
		border-radius: 5px
		z-index: 9
		li
			a
				display: block
				height: 40px
				padding: 0 10px
				font: 16px/40px 'Roboto Slab', sans-serif
				color: #5a5c64
				text-decoration: none
				cursor: pointer
				&:hover
					background: #c5c7d7
					color: #424349
			&:first-child
				a
					border-radius: 5px 5px 0 0
			&:last-child
				a
					border-radius: 0 0 5px 5px						
	select
		visibility: hidden	
.filter-date
	float: left
	margin-right: 15px		
	position: relative
	width: 145px
	+box
	padding-left: 53px
	margin-top: 13px
	height: 40px
	&__title
		position: absolute
		top: 0
		left: 0
		height: 39px
		width: 52px
		border-radius: 5px 0 0 5px
		border: 1px solid #0094a2
		+g(#60e1fa, #44c0fe)
		&:before
			content: ""
			position: absolute
			top: 4px
			left: 12px
			+s(calendar-from)
			.calendar-from_to &
				top: 2px
				+s(calendar-to)
	.filter-date__datepicker-from, .filter-date__datepicker-to
		width: 100%
		+box
		padding: 0 10px
		height: 40px
		border-radius: 0 5px 5px 0
		background: #ebebf1
		+box-shadow(inset 0 2px 3px rgba(0,0,0,.34), inset 0 -1px 1px #9dc8d6)
		+g(#e5e6ed, #eeeff3)
		+roboto-s
		text-align: center
		font-size: 16px
		color: #5a5c64
		cursor: pointer
		+placeholder
			color: #5a5c64
	&__value
		opacity: 0
		position: absolute
		top: 0px
		left: 0px
		bottom: 0px
		right: 0px
		width: 100%
		height: 100%
		cursor: pointer				
.breadcrumbs
	+wrap
	height: 58px
	padding: 0 20px
	+box
	ul
		+clr
		padding-top: 18px
		li
			position: relative
			float: left
			a
				text-decoration: none
				color: #51535e
				font-size: 16px
				&:before
					content: "/"
					display: inline-block
					margin: 0 2px
				&:hover
					text-decoration: underline	 
			&:first-child
				a
					&:before
						content: ""
.container
	+wrap
	background: #fff
	+box-shadow(0 0 4px #a4a5aa)
.search
	&__topper
		+clr
		height: 88px
		line-height: 88px
		border-bottom: 1px solid #d0d0d0
	&__title
		float: left
		width: 290px
		height: 88px
		+box
		padding: 0 20px 
		line-height: 1.2 
		font-weight: bold
		color: #14b8d0
		font-size: 16px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle  
		span
			display: inline-block
			vertical-align: middle
	&__view
		float: left
		overflow: hidden
		margin: 27px 24px 0 
		border-radius: 4px
		li
			position: relative
			float: left
			&:before
				content: ""
				position: absolute
				top: 2px
				bottom: 2px
				left: 0
				width: 1px
				background: #91918f
				+box-shadow(-1px 0 1px #91918f)
				z-index: 2
			&:first-child
				&:before
					display: none
			a
				position: relative
				display: block
				height: 35px
				line-height: 35px 
				padding: 0 15px 0 40px
				border-radius: 4px
				+g(#eaebf0, #c8c9cc)
				text-decoration: none
				font-size: 12px
				color: #9fa0a3
				&.search__list
					&:before
						content: ""
						position: absolute
						top: 13px
						left: 13px
						+s(list)
				&.search__cards
					&:before
						content: ""
						position: absolute
						top: 13px
						left: 13px
						+s(cards)
				&.search__map
					&:before
						content: ""
						position: absolute
						top: 11px
						left: 13px
						+s(map)					
				&.is-active
					+g(#e6e7ee, #eaebf0)
					border-radius: 0
					margin: 0 -1px
					color: #14b8d0
					font-weight: bold
					+box-shadow(inset 0 2px 6px #a4a5aa)
					&.search__list
						&:before
							+s(list-active)
					&.search__cards
						&:before		
							+s(cards-active)
					&.search__map
						&:before
							+s(map-active)
.sortby
	float: right
	margin-right: 17px
	&__title
		display: inline-block
		vertical-align: middle
		color: #919191
		font-weight: bold
		font-size: 14px
		margin-right: 15px
.select
	display: inline-block
	vertical-align: middle
	position: relative
	width: 190px
	height: 34px
	line-height: 34px
	+box
	border-radius: 4px
	background: #ebebf1
	+box-shadow(inset 0 2px 3px rgba(0,0,0,.34))
	+g(#e5e6ed, #f0f1f5)
	select
		visibility: hidden
	i
		position: absolute
		top: 14px
		right: 11px
		+s(select)	
	&__text
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		border-radius: 4px
		padding: 0 30px 0 13px
		font-size: 12px
		color: #919191
		cursor: pointer
	&__list
		position: absolute
		top: 36px
		left: 0
		right: 0
		border-radius: 5px
		background: #ebebf1
		z-index: 102
		li
			a
				display: block
				+box
				padding: 0 13px
				text-decoration: none
				font-size: 12px
				color: #919191
				&:hover
					background: #c5c7d7
			&:first-child
				a
					border-radius: 5px 5px 0 0
			&:last-child
				a
					border-radius: 0 0 5px 5px
.content
	+clr
	&__in
		float: right
		width: 790px
		+box	
	
// item
.item-wrap
	display: table
	width: 100% 
	font-size: 0
	margin-top: -1px
	border-collapse: collapse
	&:first-child
		margin-top: -1px
		.item
			border-top: none
.item
	display: table-cell
	vertical-align: top
	width: 264px
	height: 340px
	+box
	padding: 9px 
	border: 1px solid #d0d0d0			 
	&__img
		font-size: 0
		margin-bottom: 9px
	&__adress
		font-size: 14px
		color: #00a1cb
		margin-bottom: 5px
	&__favorite
		position: relative
		display: inline-block
		padding-left: 23px
		margin-bottom: 3px
		font-size: 12px
		color: #47b5cf
		&:hover
			text-decoration: none
		&:before
			content: ""
			position: absolute
			top: 3px
			left: 0
			+s(heart-dark)	
	&__metro
		position: relative
		margin-bottom: 5px
		padding-left: 20px
		font-size: 11px
		color: #51535e
		&:before
			content: ""
			position: absolute
			top: 3px
			left: 0px
			+s(metro) 
	&__price
		margin-bottom: 10px
		font-size: 16px
		color: #2c2d33
		strong
			font-size: 29px
			font-weight: bold
	&__places
		font-size: 0
		color: #51535e
		font-weight: 300
		li
			display: inline-block
			margin-left: 20px
			font-size: 11px
			&:first-child
				margin-left: 0
		strong
			font-size: 11px
	&__bottom
		text-align: center
		font-size: 0
		.button
			width: 165px
			height: 32px
			margin-left: 0
			margin-bottom: 5px
			color: #fff
			border-color: #c09153
			font-size: 16px
		a
			font-size: 11px
			color: #e18408
			&:hover
				text-decoration: none
.load-more
	padding: 11px 0 
	text-align: center
	+box
	border-left: 1px solid #d0d0d0 								 	
	p
		margin-bottom: 11px
		font-weight: 300
		font-size: 12px
		color: #5a5c65
.seo-text
	border-top: 1px solid #d0d0d0
	padding-bottom: 45px 		  
	&__title
		margin: 20px 0 
		text-align: center
		font-size: 18px 
		color: #2c2d33
		text-transform: uppercase
	p
		width: 80%
		margin: 0 auto
		font-size: 10px
		text-transform: uppercase
		color: #2c2d33  	

//filters
.filters
	max-width: 290px
	overflow: hidden
	+box
	padding: 25px 
	+box-shadow(1px 0 0 #d0d0d0)
	+r(1080)
		padding: 10px 
	&__title
		position: relative
		display: inline-block
		margin-bottom: 20px
		font-size: 18px
		text-transform: uppercase
		color: #51535e
	&__more
		font-size: 14px
		color: #55d3fc
		&:hover
			text-decoration: none		
.filter
	font-size: 0
	margin-bottom: 25px
	&__title
		font-size: 14px
		color: #51535e
		font-weight: bold		
		margin-bottom: 15px
	.radio
		width: 50%
		margin-bottom: 15px
	.checkbox
		margin-bottom: 13px
	.select
		&.select_guests
			width: 50px			
		&.select_metro
			width: 150px
.price-slider
	&__values
		+clr
		margin-bottom: 9px
	.price-slider__value-min, .price-slider__value-max
		float: left
		width: 80px
		height: 35px
		line-height: 34px
		border-radius: 4px
		background: #ebecf1
		+g(#e3e4ea, #f2f2f5)
		+box-shadow(inset 0 1px 3px #acacb2)
		text-align: center
		font-weight: 900
		font-size: 11px
		span, input
			display: inline-block
			vertical-align: middle
		input
			max-width: 40px
			background: transparent
			text-align: center
			+roboto
			font-weight: 900
			font-size: 11px
			line-height: 34px 			
	.price-slider__value-max
		float: right	   
	&__range
		position: relative
		height: 3px
		background: #2c2d33
		border-radius: 2px
		border: 1px solid #ababad  
.ui-slider-range
	position: absolute
	top: -1px
	left: -3px
	right: 3px
	height: 3px
	border-radius: 2px
	border: 1px solid #cdc468
	background: #ffea01   	
.ui-slider-handle
	position: absolute
	z-index: 2
	top: -4px
	margin-left: -5px
	width: 10px
	height: 10px
	border-radius: 50%
	border: 1px solid #16a2bc
	background: #4fccfd 
	+g(#8ee8fb, #47c4fe)
	&.ui-state-active
		background: #4fccfd 
		+g(#8ee8fb, #47c4fe)
.filter-metro
	position: relative
	height: 35px
	padding: 0 40px 0 10px 
	+box
	border-radius: 4px
	background: #ebebf1
	+box-shadow(inset 0 2px 3px rgba(0,0,0,.34))
	+g(#e5e6ed, #f0f1f5)
	font-size: 11px
	+roboto
	&:before
		content: ""
		position: absolute
		top: 11px
		right: 13px
		+s(plus)
.filter__spinner
	display: inline-block
	vertical-align: middle
	width: 110px 
	margin-right: 10px
	&.guests
		.ui-spinner
			&:before
				content: "гостей"
				position: absolute
				top: 10px
				color: #5a5c64
				left: 25px
				+roboto
				font-size: 12px
	&.beds
		.ui-spinner
			&:before
				content: "кровать"
				position: absolute
				top: 10px
				left: 25px
				color: #5a5c64
				+roboto
				font-size: 12px			 		
.ui-spinner
	position: relative
	display: block
	height: 35px!important 
	border-radius: 4px
	background: #ebebf1
	+box-shadow(inset 0 2px 3px rgba(0,0,0,.34))
	+g(#e5e6ed, #f0f1f5)
	input
		background: transparent
		width: 75px
		height: 35px
		+box
		padding: 0 10px
		+roboto
		color: #5a5c64
		font-size: 12px
.ui-spinner-button
	position: absolute
	top: 0
	right: 0
	width: 35px
	height: 17px
	border-radius: 4px
	background: #dedede
	cursor: pointer
	&.ui-spinner-up
		box-shadow: 0 4px 2px -3px #8a8986
		&:before
			content: "+"
			position: absolute
			top: 0
			left: 16px
			+roboto
			font-size: 11px
			font-weight: 900
			color: #5a5c64
			z-index: 2
	&.ui-spinner-down
		top: 18px
		&:before
			content: "-"
			position: absolute
			top: 0
			left: 16px
			+roboto
			font-size: 11px
			font-weight: 900
			color: #5a5c64
			z-index: 2		  
// item-list
.list-wrap
	margin-top: -1px
.list-item
	+box
	padding: 25px
	+clr
	border-left: 1px solid #d0d0d0
	border-bottom: 1px solid #d0d0d0  
	&__img
		width: 193px 
		float: left
		margin-right: 10px
		font-size: 0
		width: 193px
		img
			width: 100%  
	&__checkout
		float: right
		width: 165px
		margin-left: 10px
		.button
			width: 165px
			height: 32px
			margin-left: 0
			margin-bottom: 5px
			color: #fff
			border-color: #c09153
			font-size: 16px 
	&__price
		margin-bottom: 5px
		font-size: 16px
		color: #2c2d33
		text-align: right
		strong
			font-weight: bold
			display: block
			font-size: 29px
			line-height: 1.2 
	&__link
		text-align: center
		a
			font-size: 11px
			color: #e18408
			&:hover
				text-decoration: none
	&__info
		overflow: hidden
	&__adress
		font-size: 16px
		color: #00a1cb
		font-weight: bold
	&__tools
		font-size: 0
		margin-bottom: 10px
		a
			position: relative
			display: inline-block
			vertical-align: middle
			margin-right: 23px
			padding-left: 23px 
			font-size: 12px
			color: #47b5cf
			&:hover
				text-decoration: none
	&__favorite
		&:before
			content: ""
			position: absolute
			top: 3px
			left: 0
			+s(heart-dark)
	&__map
		&:before
			content: ""
			position: absolute
			top: 1px
			left: 0
			+s(map)
	&__metro
		position: relative
		padding-left: 19px
		font-size: 12px
		color: #51535e
		&:before
			content: ""
			position: absolute
			top: 3px
			left: 0
			+s(metro)
.list-item__rooms, .list-item__places
	margin-top: 10px
	font-size: 12px
	color: #51535e
	strong
		font-weight: bold
.map-wrap
	+box
	border-left: 1px solid #d0d0d0 		
.map
	position: relative
	height: 1000px 
#YMapsID
	width: 100%
	height: 100%
	overflow: hidden  
.map-flat
	position: relative
	width: 224px
	+box
	padding: 15px 
	border: 1px solid #b4afa7
	border-radius: 15px
	background: #fff 
	&__close
		position: absolute
		top: -17px
		right: -17px
		border-radius: 50%
		+s(close)
		+box-shadow(0 0 1px #b4afa7)
		cursor: pointer
	&__item
		border-top: 1px solid #cfcfce
		+box
		+clr
		padding: 12px
		&:first-child
			border-top: none 
	&__img
		float: left
		font-size: 0
		width: 193px
		img
			width: 100%
	&__info
		float: right
		width: 165px
		.item__adress, .item__metro, .item__price
			margin-bottom: 0
	&.map-flat_multi
		width: 436px
		padding: 0  	

// bookblock
.bb-custom-wrapper
	position: relative
	& > nav
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		z-index: 101
.bb-nav-prev
	position: absolute
	top: 0
	left: 0
	bottom: 0
	width: 50%
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 5px
		margin-top: -12px
		+s(bb-left-pass)
		z-index: 100
	&:hover
		&:before
			+s(bb-left)
.bb-nav-next
	position: absolute
	top: 0
	right: 0
	bottom: 0
	width: 50%
	&:before
		content: ""
		position: absolute
		top: 50%
		right: 5px
		margin-top: -12px
		+s(bb-right-pass)
		z-index: 100
	&:hover
		&:before
			+s(bb-right)						



















































































































































































